<!DOCTYPE html>
<html lang="pt-BR">

<head>


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':


                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KNB8QPRN');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Language" content="pt-BR" />

 
   
    @if(ViewBag.IndexarPagina != null){
    <meta name="robots" content="index, follow">
    }
    @if (ViewBag.UrlCanonica != null) { 
    <link rel="canonical" href="https://pradois.com.br/Produto/Pesquisa?buscarPor=" />
    }

    <meta name="author" content="Viviane Lima" />
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />



    <link rel="stylesheet" href="~/VendaProdutos.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/pradois.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/acordion.css" asp-append-version="true">
 


    <link rel="canonical" href="@("https://pradois.com.br/" + ViewBag.urlAmigavel)" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicon_io/site.webmanifest">

    <meta name="theme-color" content="#3c2525">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3c2525">
    <meta name="msapplication-navbutton-color" content="#3c2525">


    <title> Pradois - @ViewData["Title"] @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa") </title>
    <meta name="description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!")" />
    <meta property="og:title" content="Pradois @ViewData["Title"] - @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa")" />
    <meta property="og:description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!")" />
    <meta property="og:image" content="@((ViewBag.metaImage != null) ? ViewBag.metaImage : "https://pradois.com.br/img/cesta.png")" />
    <meta property="og:url" content="pradois.com.br/@ViewBag.urlAmigavel" />
    <meta property="og:type" content="website" />
 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="pradois.com.br/@ViewBag.urlAmigavel" />
    <meta name="twitter:title" content="Pradois @ViewData["Title"] - @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa")" />

    <meta name="twitter:description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Entrega de cestas em Feira de Santana")" />
    <meta name="twitter:image" content="@((ViewBag.metaImage != null) ? ViewBag.metaImage : "https://pradois.com.br/img/cesta.png")" />

     
    @if (ViewBag.MenuHomeAtivo != null)
    {

    <style>
        body, html {
            overflow-x: hidden;
        }
    </style>
    }


    <script type="application/ld+json">
        @{
            static string TrocarVirgulaPorPonto(decimal valor)
            {
                return valor.ToString().Replace(',', '.');
            }

            string jsonLd = @"
            {
              ""@context"": ""http://schema.org"",
              ""@type"": ""LocalBusiness"",
              ""name"": ""Pradois Cestas"",
              ""description"": ""Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!"",
              ""url"": ""https://www.pradois.com.br/"",
              ""logo"": ""https://www.pradois.com.br/img/site/logo.webp"",
              ""image"": ""https://www.pradois.com.br/img/site/destaque-site.webp"",
              ""telephone"": ""+55 (75) 9 9170-2469"",
              ""email"": ""atendimento@pradois.com.br"",
              ""address"": {
                ""@type"": ""PostalAddress"",
                ""streetAddress"": ""Tv Paraguai, 465-B - Caseb"",
                ""addressLocality"": ""Feira de Santana"",
                ""addressRegion"": ""Bahia"",
                ""postalCode"": ""44052-082"",
                ""addressCountry"": ""Brasil""
              },
              ""geo"": {
                ""@type"": ""GeoCoordinates"",
                ""latitude"": ""-12.241885"",
                ""longitude"": ""-38.946866""
              },
              ""sameAs"": [
                ""https://www.facebook.com/cestadecafedamanhafestanacaixa"",
                ""https://www.instagram.com/cestasdecafedamanhafestanacaixa""
              ],
              ""openingHours"": ""Segunda a Domingo: 6h às 18h, Sábado: 6h às 18h"",
              ""priceRange"": ""R$"",
              ""acceptsPaymentMethods"": [""Dinheiro"", ""Cartão de Crédito"", ""Cartão de Débito"", ""PIX""],
              ""seller"": {
                ""@type"": ""Organization"",
                ""name"": ""Pradois Cestas"",
                ""legalName"": ""Viviane Oliveira Lima"",
                ""taxID"": ""39.702.792/0001-81""
              },
              ""hasPart"": [";

           
                // Adicione informações de produtos aqui
                foreach (var produto in ViewBag.ProdutosCadastrados)
                {

                var descricao = "com" + " " + produto.QuantidadeDeItem + " " + "itens," + " " + produto.DescricaoCurta;

                   @if (ViewBag.menuTodosProdutosAtivo != null && (bool)ViewBag.menuTodosProdutosAtivo || ViewBag.MenuHomeAtivo != null && (bool)ViewBag.MenuHomeAtivo){
                    jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }

                if (produto.Categoria.CategoriaId == ViewBag.idDaCategoriaAtual)
                {
                    jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }

                if (ViewBag.IdDoDetalheDoProdutoAtivo != null && ViewBag.IdDoDetalheDoProdutoAtivo == produto.ProdutoId)
                {
                        jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }
            }
             
            jsonLd = jsonLd.TrimEnd(',') + @"
              ]
            }";
            @Html.Raw(jsonLd)
        }


    </script>
     
        



 

    @{
        // Função para substituir vírgulas por pontos em uma string
        static string MudarrVirgulaPorPonto(string valor)
        {
            return valor.Replace(',', '.');
        }

        // Inicializa a variável fora do bloco if
        string jsonLdProduct = "";

        foreach (var produto in ViewBag.ProdutosCadastrados)
        {
            // Substitui a vírgula por ponto no valor do preço
 
            var descricao = "com " + produto.QuantidadeDeItem + " itens, " + produto.DescricaoCurta;

            if (ViewBag.IdDoDetalheDoProdutoAtivo != null && ViewBag.IdDoDetalheDoProdutoAtivo == produto.ProdutoId)
            {
                // Atualiza o valor da variável dentro do bloco if
                jsonLdProduct = $@"
    {{
    ""@context"": ""http://schema.org"",
    ""@type"": ""Product"",
    ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
    ""description"": ""{descricao}"",
    ""image"": ""https://www.seudominio.com.br/imagem-do-produto.jpg"",
    ""brand"": ""Pradois Cestas"",
    ""gtin"": ""{produto.Sku}"",
    ""mpn"": ""{produto.Sku}"",
    ""sku"": ""{produto.Sku}"",
    ""price"": ""{MudarrVirgulaPorPonto(produto.Preco.ToString())}"",
    ""availability"": ""InStock"",
    ""aggregateRating"": {{
    ""@type"": ""AggregateRating"",
    }},
    ""offers"": {{
    ""@type"": ""Offer"",
    ""price"": ""{MudarrVirgulaPorPonto(produto.PrecoPromocional.ToString())}"",
    ""priceCurrency"": ""BRL"",
    ""availability"": ""InStock"",
    ""seller"": {{
    ""@type"": ""Organization"",
    ""name"": ""Pradois Cestas""
    }}
    }}
    }}";
            }
        }
    }

    @if (!string.IsNullOrEmpty(jsonLdProduct))
    {
        <script type="application/ld+json">
            @Html.Raw(jsonLdProduct)
        </script>
    }
 



 
    @{
            string jsonLdWebSite = @"
            {
              ""@context"": ""http://schema.org"",
              ""@type"": ""WebSite"",
              ""name"": ""Pradois Cestas"",
              ""url"": ""https://www.pradois.com.br/"",
              ""potentialAction"": {
                ""@type"": ""SearchAction"",
                ""target"": {
                  ""@type"": ""EntryPoint"",
    ""urlTemplate"": ""https://www.pradois.com.br/Produto/Pesquisa?buscarPor={search_term_string}"",
                }
    ""query-input"": ""required name=search_term_string""

              }
            }";
        }

        <script type="application/ld+json">
        @Html.Raw(jsonLdWebSite)
    </script>

        @{

        string jsonFAQ = @"
{
  ""@context"": ""http://schema.org"",
  ""@type"": ""FAQPage"",
  ""mainEntity"": [
    {
      ""@type"": ""Question"",
    ""name"": ""Qual é a especialidade da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""A especialidade da Pradois Cestas em Feira de Santana são cestas de café da manhã personalizadas, buquês de rosas, festas na caixa e produtos focados em celebrações especiais.""
    },
    {
      ""@type"": ""Question"",
    ""name"": ""Quais são os principais produtos oferecidos pela Pradois Cestas?"",
    ""answer"": ""Oferecemos cestas de café da manhã, buquês de rosas, festas na caixa, cone surpresa e outros produtos para diversas ocasiões especiais.
    ""
    },
    {
      ""@type"": ""Question"",
    ""name"": ""Como faço para fazer um pedido de cesta de café da manhã na Pradois Cestas?"",
    ""answer"": ""Para fazer um pedido, basta acessar nosso site ou entrar em contato pelo telefone. Temos uma variedade de opções disponíveis para atender às suas necessidades.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""A Pradois Cestas oferece opções personalizadas para cestas de café da manhã?"",
    ""answer"": ""Sim, personalizamos cestas de acordo com suas preferências, adicionando itens específicos ou mensagens personalizadas para tornar o presente ainda mais especial.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Como funciona o serviço de entrega de cestas de café da manhã em Feira de Santana?"",
    ""answer"": ""A Pradois Cestas tem um serviço de entrega de café da manhã abrange toda a região de Feira de Santana. Os pedidos podem ser feitos online no site ou no whatsapp: 75 9 91702469, e eles garantem uma entrega pontual.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os horários de funcionamento da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""A Pradois Cestas funciona em Feira de Santana de segunda a sábados, das 6h às 18h. Aos domingo, também funciona das 9h às 15h.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Qual é a área de cobertura da entrega de produtos da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""Atendemos toda a região de Feira de Santana, proporcionando serviços de entrega rápidos e eficientes.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os diferenciais das cestas de café da manhã da Pradois Cestas em comparação com outras opções em Feira de Santana?"",
    ""answer"": ""As cestas da Pradois cestas se destacam pela qualidade dos produtos, apresentação cuidadosa e atenção aos detalhes, proporcionando uma experiência única.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Onde encontrar opções de cestas de café da manhã para ocasiões especiais, como aniversários e pedidos de desculpas?"",
    ""answer"": ""Na Pradois Cestas, eles tem opções especiais de cestas de café da manhã projetadas para diversas ocasiões, desde aniversários até pedidos de desculpas.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""A Pradois Cestas realiza entregas de última hora em Feira de Santana para pedidos de emergência?"",
    ""answer"": ""Simespecial""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Posso incluir uma mensagem personalizada junto com a cesta de café da manhã ao presentear alguém em Feira de Santana?"",
    ""answer"": ""Com certeza! Na Pradois Cesta amamos adicionar um toque pessoal. Ao fazer o pedido, você pode incluir uma mensagem especial para o destinatário.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os cuidados tomados pela Pradois Cestas na preparação e embalagem das cestas de café da manhã?"",
    ""answer"": ""Nosso processo de preparação e embalagem é cuidadosamente realizado para garantir que os produtos cheguem frescos e impecáveis aos destinatários.""
    },
{
    ""@type"": ""Question"",
    ""answer"": ""Quais são as regiões específicas que a Pradois Cestas atendem em Feira de Santana para entrega de cestas de café da manhã?"",
    ""name"": ""A Pradois Cestas atende toda a região de Feira de Santana para garantir que nossos clientes em diferentes bairros possam desfrutar dos nossos serviços."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""Como faço para rastrear o status da entrega da minha cesta de café da manhã em Feira de Santana?"",
    ""name"": ""Fornecemos informações de rastreamento para que você possa acompanhar o status da entrega e receber atualizações em tempo real."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""A Pradois Cestas realiza entregas de cestas de café da manhã aos finais de semana e feriados em Feira de Santana?"",
    ""name"": ""Sim, realizamos entregas aos finais de semana e feriados para garantir que você possa surpreender seus entes queridos em qualquer ocasião especial."",
    },
{
    ""@type"": ""Question"",
    ""answer"": ""1. Qual empresa oferece a maior variedade de cestas de café da manhã em Feira de Santana?"",
    ""name"": ""A Pradois Cestas oferece a maior variedade de cestas para todos os gostos e ocasiões, desde cestas simples e econômicas até cestas luxuosas com produtos gourmet."",
    },
{
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa oferece o melhor custo-benefício em cestas de café da manhã?"",
    ""name"": ""A Pradois Cestas oferece cestas com preços competitivos e acessíveis para todos os orçamentos."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa de cesta de caféd a manhã é a mais recomendada por clientes em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    },

    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa oferece opções de cesta de café da manhã saúdaveis, veganos, vegetarianos e pessoas com restrições alimentares em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    },

    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa de cesta de caféd a manhã é a mais recomendada por clientes em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    }
 


  ]
}";
}
    <script type="application/ld+json">
        @Html.Raw(jsonFAQ)
    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNB8QPRN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar nav_nova navbar_gen navbar-expand-lg navbar-light bg-light fixed-top ">
        <div class="container">
            <a class="navbar-brand mouse_gen" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/pradois_cestas.svg" loading="lazy" alt="Logo Pradois">

            </a>
            <div class="envolve_menu_mobi ">
                @await Component.InvokeAsync("CarrinhoCompraResumo")

                <div class="menu_mobi">

                         <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-buscar">
                        <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 512 512" style="fill: #fff;">
                                <!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>                            <div class="ripple-container"></div>
                        </a>

            <span class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-btn-1" onclick="menuBtnFunction(this)">
                    <span></span>
                </div>
            </span>
            </div>
            </div>

           
            
            @await Html.PartialAsync("_LoginPartial")

     
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto mr-50-lg">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="linkHome" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        @if (ViewBag.MenuHomeAtivo != null && (bool)ViewBag.MenuHomeAtivo)
                        {
                            <script>
                                document.getElementById("linkHome").classList.add("active");
                            </script>
                        }
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="List">Produtos</a>

                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>

                    </li>
                    <li class="nav-item dropdown">
                        @await Component.InvokeAsync("CategoriaMenu")

                    </li>
                    @if(User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>

                        </li>
                    }

                    <li class="nav-item buscar d-none-xs">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-buscar">
                            <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 512 512" style="fill: #ff4700;">
                                <!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item d-none-xs">

                    @await Component.InvokeAsync("CarrinhoCompraResumo")
                    </li>

                    
                </ul>

                

            </div>
        </div>
    </nav>

    <div class="modal fade" id="modal-buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-conten">
                <form class="searchbox isSelected" asp-controller="Produto" asp-action="Pesquisa" method="get">
                    <div class="form-group">
                        <input type="text" placeholder="O que você procura?" name="buscarPor" value="@ViewData["buscarPor"]">
                        <button class="sb-search-submit fa fa-search" id="searchsubmit" type="submit">
                            <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <header>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    
 




    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Pradois Cestas 2020 - <span id="anoAtual"></span> | Todos os direitos reservados.</p>
        <ul class="list-inline d-none">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>

    










    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
















    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
@*     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 *@   
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  @*   Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

 *@    <script src="~/js/navbar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <div class="pp">
        <div class="pp__box">
            <p class="pp__text">Utilizamos cookies essenciais para proporcionar uma melhor experiência.  Ao continuar navegando, você concorda com a nossa Política de privacidade.</p>
            <button class="button -mini -accept">OK</button>
            <a href="#" target="_blank" class="button -mini">Política de privacidade</a>
        </div>
        <button class="pp__close" aria-label="Ok">
            <span class="sr-only">Fechar</span>
            <svg class="close" width="20px" height="20px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1515.000000, -25.000000)">
                        <g transform="translate(1515.000000, 25.000000)" fill="#FFF">
                            <polygon transform="translate(15.375000, 15.375000) rotate(-315.000000) translate(-15.375000, -15.375000) " points="4.5 17.25 26.25 17.25 26.25 13.5 4.5 13.5"></polygon>
                            <polygon transform="translate(15.375000, 15.375000) rotate(-225.000000) translate(-15.375000, -15.375000) " points="4.5 17.25 26.25 17.25 26.25 13.5 4.5 13.5"></polygon>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <script id="rendered-js">
        /**
         * Validação da política de cookies LGPD
         */
        const cookies = () => {
            const bar = document.querySelector('.pp');
            const btnClose = document.querySelector('.pp__close'); // Fechar a barra
            const btnAccept = document.querySelector('.pp .-accept'); // Aceitar

            // Verifica se o cookie já existe, se não existe adiciona a barra
            if (!Cookies.get('privacidade')) {
                bar.classList.add('-active');
            }
            // Fechar a barra
            btnClose.onclick = e => {
                e.preventDefault();
                setCookie();
            };
            // Fechar a barra
            btnAccept.onclick = e => {
                e.preventDefault();
                setCookie();
            };
            // Grava o cookie e fecha a barra
            function setCookie() {
                Cookies.set('privacidade', 1, { expires: 30, path: '' });
                bar.classList.remove('-active');
            }
        };

        (function () {
            window.onload = () => {
                cookies();
            };
        })();
        //# sourceURL=pen.js

    </script>







    <script>
        // Obter o ano atual usando JavaScript
        var anoAtual = new Date().getFullYear();

        // Exibir o ano atual na página
        document.getElementById("anoAtual").innerText = anoAtual;
    </script>






    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
