<!DOCTYPE html>
<html lang="pt-BR">

<head>


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':


                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KNB8QPRN');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Language" content="pt-BR" />

 
   
    @if(ViewBag.IndexarPagina != null){
    <meta name="robots" content="index, follow">
    }
    @if (ViewBag.UrlCanonica != null) { 
    <link rel="canonical" href="https://pradois.com.br/Produto/Pesquisa?buscarPor=" />
    }

    <meta name="author" content="Viviane Lima" />
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" integrity="" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/swiper.css" />

    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    *@

    <link rel="stylesheet" href="~/VendaProdutos.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/pradois.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/acordion.css" asp-append-version="true">
 



    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicon_io/site.webmanifest">

    <meta name="theme-color" content="#3c2525">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3c2525">
    <meta name="msapplication-navbutton-color" content="#3c2525">


    <title> Pradois - @ViewData["Title"] @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa") </title>
    <meta name="description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!")" />
    <meta property="og:title" content="Pradois @ViewData["Title"] - @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa")" />
    <meta property="og:description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!")" />
    <meta property="og:image" content="@((ViewBag.metaImage != null) ? ViewBag.metaImage : "https://pradois.com.br/img/cesta.png")" />
    <meta property="og:url" content="pradois.com.br/@ViewBag.urlAmigavel" />
    <meta property="og:type" content="website" />
 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="pradois.com.br/@ViewBag.urlAmigavel" />
    <meta name="twitter:title" content="Pradois @ViewData["Title"] - @Html.Raw((ViewBag.MetaTitle != null) ? ViewBag.MetaTitle : "CESTAS em Feira de Santana - Café da manhã, Aniversário, Surpresa")" />

    <meta name="twitter:description" content="@Html.Raw((ViewBag.metaDescricao != null) ? ViewBag.metaDescricao : "Entrega de cestas em Feira de Santana")" />
    <meta name="twitter:image" content="@((ViewBag.metaImage != null) ? ViewBag.metaImage : "https://pradois.com.br/img/cesta.png")" />

     
    @if (ViewBag.MenuHomeAtivo != null)
    {

    <style>
        body, html {
            overflow-x: hidden;
        }
    </style>
    }


    <script type="application/ld+json">
        @{
            static string TrocarVirgulaPorPonto(decimal valor)
            {
                return valor.ToString().Replace(',', '.');
            }

            string jsonLd = @"
            {
              ""@context"": ""http://schema.org"",
              ""@type"": ""LocalBusiness"",
              ""name"": ""Pradois Cestas"",
              ""description"": ""Cesta completa, Simples, light, infantil, fitness, festa na caixa, romantica, com rosas, fotos, balões frete e entrega grátis para toda região de Feira? Você só encontra aqui na Pradois!"",
              ""url"": ""https://www.pradois.com.br/"",
              ""logo"": ""https://www.pradois.com.br/img/site/logo.webp"",
              ""image"": ""https://www.pradois.com.br/img/site/destaque-site.webp"",
              ""telephone"": ""+55 (75) 9 9170-2469"",
              ""email"": ""atendimento@pradois.com.br"",
              ""address"": {
                ""@type"": ""PostalAddress"",
                ""streetAddress"": ""Tv Paraguai, 465-B - Caseb"",
                ""addressLocality"": ""Feira de Santana"",
                ""addressRegion"": ""Bahia"",
                ""postalCode"": ""44052-082"",
                ""addressCountry"": ""Brasil""
              },
              ""geo"": {
                ""@type"": ""GeoCoordinates"",
                ""latitude"": ""-12.241885"",
                ""longitude"": ""-38.946866""
              },
              ""sameAs"": [
                ""https://www.facebook.com/cestadecafedamanhafestanacaixa"",
                ""https://www.instagram.com/cestasdecafedamanhafestanacaixa""
              ],
              ""openingHours"": ""Segunda a Domingo: 6h às 18h, Sábado: 6h às 18h"",
              ""priceRange"": ""R$"",
              ""acceptsPaymentMethods"": [""Dinheiro"", ""Cartão de Crédito"", ""Cartão de Débito"", ""PIX""],
              ""seller"": {
                ""@type"": ""Organization"",
                ""name"": ""Pradois Cestas"",
                ""legalName"": ""Viviane Oliveira Lima"",
                ""taxID"": ""39.702.792/0001-81""
              },
              ""hasPart"": [";

           
                // Adicione informações de produtos aqui
                foreach (var produto in ViewBag.ProdutosCadastrados)
                {

                var descricao = "com" + " " + produto.QuantidadeDeItem + " " + "itens," + " " + produto.DescricaoCurta;

                   @if (ViewBag.menuTodosProdutosAtivo != null && (bool)ViewBag.menuTodosProdutosAtivo || ViewBag.MenuHomeAtivo != null && (bool)ViewBag.MenuHomeAtivo){
                    jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }

                if (produto.Categoria.CategoriaId == ViewBag.idDaCategoriaAtual)
                {
                    jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }

                if (ViewBag.IdDoDetalheDoProdutoAtivo != null && ViewBag.IdDoDetalheDoProdutoAtivo == produto.ProdutoId)
                {
                        jsonLd += $@"
                {{
                  ""@type"": ""Product"",
                  ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
                  ""description"": ""{descricao}"",
                  ""image"": ""{produto.ImagemUrl}"",
                  ""brand"": ""Pradois Cestas"",
                  ""mpn"": ""{produto.Sku}"",
                  ""price"": ""{TrocarVirgulaPorPonto(produto.Preco).ToString()}"",
                  ""availability"": ""InStock"",
                  ""offers"": {{
                    ""@type"": ""Offer"",
                    ""price"": ""{TrocarVirgulaPorPonto(produto.PrecoPromocional).ToString()}"",
                    ""priceCurrency"": ""BRL"",
                    ""availability"": ""InStock"",
                    ""seller"": {{
                      ""@type"": ""Organization"",
                      ""name"": ""Pradois Cestas""
                    }}
                  }}
                }},";
                }
            }
             
            jsonLd = jsonLd.TrimEnd(',') + @"
              ]
            }";
            @Html.Raw(jsonLd)
        }


    </script>
     
        



 

    @{
        // Função para substituir vírgulas por pontos em uma string
        static string MudarrVirgulaPorPonto(string valor)
        {
            return valor.Replace(',', '.');
        }

        // Inicializa a variável fora do bloco if
        string jsonLdProduct = "";

        foreach (var produto in ViewBag.ProdutosCadastrados)
        {
            // Substitui a vírgula por ponto no valor do preço
 
            var descricao = "com " + produto.QuantidadeDeItem + " itens, " + produto.DescricaoCurta;

            if (ViewBag.IdDoDetalheDoProdutoAtivo != null && ViewBag.IdDoDetalheDoProdutoAtivo == produto.ProdutoId)
            {
                // Atualiza o valor da variável dentro do bloco if
                jsonLdProduct = $@"
    {{
    ""@context"": ""http://schema.org"",
    ""@type"": ""Product"",
    ""name"": ""{produto.Categoria.NomeCurto} {produto.Nome}"",
    ""description"": ""{descricao}"",
    ""image"": ""https://www.seudominio.com.br/imagem-do-produto.jpg"",
    ""brand"": ""Pradois Cestas"",
    ""gtin"": ""{produto.Sku}"",
    ""mpn"": ""{produto.Sku}"",
    ""sku"": ""{produto.Sku}"",
    ""price"": ""{MudarrVirgulaPorPonto(produto.Preco.ToString())}"",
    ""availability"": ""InStock"",
    ""aggregateRating"": {{
    ""@type"": ""AggregateRating"",
    }},
    ""offers"": {{
    ""@type"": ""Offer"",
    ""price"": ""{MudarrVirgulaPorPonto(produto.PrecoPromocional.ToString())}"",
    ""priceCurrency"": ""BRL"",
    ""availability"": ""InStock"",
    ""seller"": {{
    ""@type"": ""Organization"",
    ""name"": ""Pradois Cestas""
    }}
    }}
    }}";
            }
        }
    }

    @if (!string.IsNullOrEmpty(jsonLdProduct))
    {
        <script type="application/ld+json">
            @Html.Raw(jsonLdProduct)
        </script>
    }
 



 
    @{
            string jsonLdWebSite = @"
            {
              ""@context"": ""http://schema.org"",
              ""@type"": ""WebSite"",
              ""name"": ""Pradois Cestas"",
              ""url"": ""https://www.pradois.com.br/"",
              ""potentialAction"": {
                ""@type"": ""SearchAction"",
                ""target"": {
                  ""@type"": ""EntryPoint"",
    ""urlTemplate"": ""https://www.pradois.com.br/Produto/Pesquisa?buscarPor={search_term_string}"",
                }
    ""query-input"": ""required name=search_term_string""

              }
            }";
        }

        <script type="application/ld+json">
        @Html.Raw(jsonLdWebSite)
    </script>

        @{

        string jsonFAQ = @"
{
  ""@context"": ""http://schema.org"",
  ""@type"": ""FAQPage"",
  ""mainEntity"": [
    {
      ""@type"": ""Question"",
    ""name"": ""Qual é a especialidade da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""A especialidade da Pradois Cestas em Feira de Santana são cestas de café da manhã personalizadas, buquês de rosas, festas na caixa e produtos focados em celebrações especiais.""
    },
    {
      ""@type"": ""Question"",
    ""name"": ""Quais são os principais produtos oferecidos pela Pradois Cestas?"",
    ""answer"": ""Oferecemos cestas de café da manhã, buquês de rosas, festas na caixa, cone surpresa e outros produtos para diversas ocasiões especiais.
    ""
    },
    {
      ""@type"": ""Question"",
    ""name"": ""Como faço para fazer um pedido de cesta de café da manhã na Pradois Cestas?"",
    ""answer"": ""Para fazer um pedido, basta acessar nosso site ou entrar em contato pelo telefone. Temos uma variedade de opções disponíveis para atender às suas necessidades.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""A Pradois Cestas oferece opções personalizadas para cestas de café da manhã?"",
    ""answer"": ""Sim, personalizamos cestas de acordo com suas preferências, adicionando itens específicos ou mensagens personalizadas para tornar o presente ainda mais especial.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Como funciona o serviço de entrega de cestas de café da manhã em Feira de Santana?"",
    ""answer"": ""A Pradois Cestas tem um serviço de entrega de café da manhã abrange toda a região de Feira de Santana. Os pedidos podem ser feitos online no site ou no whatsapp: 75 9 91702469, e eles garantem uma entrega pontual.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os horários de funcionamento da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""A Pradois Cestas funciona em Feira de Santana de segunda a sábados, das 6h às 18h. Aos domingo, também funciona das 9h às 15h.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Qual é a área de cobertura da entrega de produtos da Pradois Cestas em Feira de Santana?"",
    ""answer"": ""Atendemos toda a região de Feira de Santana, proporcionando serviços de entrega rápidos e eficientes.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os diferenciais das cestas de café da manhã da Pradois Cestas em comparação com outras opções em Feira de Santana?"",
    ""answer"": ""As cestas da Pradois cestas se destacam pela qualidade dos produtos, apresentação cuidadosa e atenção aos detalhes, proporcionando uma experiência única.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Onde encontrar opções de cestas de café da manhã para ocasiões especiais, como aniversários e pedidos de desculpas?"",
    ""answer"": ""Na Pradois Cestas, eles tem opções especiais de cestas de café da manhã projetadas para diversas ocasiões, desde aniversários até pedidos de desculpas.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""A Pradois Cestas realiza entregas de última hora em Feira de Santana para pedidos de emergência?"",
    ""answer"": ""Simespecial""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Posso incluir uma mensagem personalizada junto com a cesta de café da manhã ao presentear alguém em Feira de Santana?"",
    ""answer"": ""Com certeza! Na Pradois Cesta amamos adicionar um toque pessoal. Ao fazer o pedido, você pode incluir uma mensagem especial para o destinatário.""
    },
    {
    ""@type"": ""Question"",
    ""name"": ""Quais são os cuidados tomados pela Pradois Cestas na preparação e embalagem das cestas de café da manhã?"",
    ""answer"": ""Nosso processo de preparação e embalagem é cuidadosamente realizado para garantir que os produtos cheguem frescos e impecáveis aos destinatários.""
    },
{
    ""@type"": ""Question"",
    ""answer"": ""Quais são as regiões específicas que a Pradois Cestas atendem em Feira de Santana para entrega de cestas de café da manhã?"",
    ""name"": ""A Pradois Cestas atende toda a região de Feira de Santana para garantir que nossos clientes em diferentes bairros possam desfrutar dos nossos serviços."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""Como faço para rastrear o status da entrega da minha cesta de café da manhã em Feira de Santana?"",
    ""name"": ""Fornecemos informações de rastreamento para que você possa acompanhar o status da entrega e receber atualizações em tempo real."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""A Pradois Cestas realiza entregas de cestas de café da manhã aos finais de semana e feriados em Feira de Santana?"",
    ""name"": ""Sim, realizamos entregas aos finais de semana e feriados para garantir que você possa surpreender seus entes queridos em qualquer ocasião especial."",
    },
{
    ""@type"": ""Question"",
    ""answer"": ""1. Qual empresa oferece a maior variedade de cestas de café da manhã em Feira de Santana?"",
    ""name"": ""A Pradois Cestas oferece a maior variedade de cestas para todos os gostos e ocasiões, desde cestas simples e econômicas até cestas luxuosas com produtos gourmet."",
    },
{
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa oferece o melhor custo-benefício em cestas de café da manhã?"",
    ""name"": ""A Pradois Cestas oferece cestas com preços competitivos e acessíveis para todos os orçamentos."",
    },
    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa de cesta de caféd a manhã é a mais recomendada por clientes em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    },

    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa oferece opções de cesta de café da manhã saúdaveis, veganos, vegetarianos e pessoas com restrições alimentares em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    },

    {
    ""@type"": ""Question"",
    ""answer"": ""Qual empresa de cesta de caféd a manhã é a mais recomendada por clientes em Feira de Santana?"",
    ""name"": ""A Pradois Cestas é a empresa mais recomendada por clientes em Feira de Santana, com avaliações positivas em diversos sites e plataformas online."",
    }
 


  ]
}";
}
    <script type="application/ld+json">
        @Html.Raw(jsonFAQ)
    </script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNB8QPRN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar nav_nova navbar_gen navbar-expand-lg navbar-light bg-light fixed-top ">
        <div class="container">
            <a class="navbar-brand mouse_gen" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/pradois_cestas.svg" loading="lazy" alt="Logo Pradois">

            </a>
            <div class="envolve_menu_mobi ">
                @await Component.InvokeAsync("CarrinhoCompraResumo")

                <div class="menu_mobi">

                         <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-buscar">
                        <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 512 512" style="fill: #fff;">
                                <!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>                            <div class="ripple-container"></div>
                        </a>

            <span class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu-btn-1" onclick="menuBtnFunction(this)">
                    <span></span>
                </div>
            </span>
            </div>
            </div>

           
            
            @await Html.PartialAsync("_LoginPartial")

     
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto mr-50-lg">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="linkHome" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        @if (ViewBag.MenuHomeAtivo != null && (bool)ViewBag.MenuHomeAtivo)
                        {
                            <script>
                                document.getElementById("linkHome").classList.add("active");
                            </script>
                        }
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="List">Produtos</a>

                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>

                    </li>
                    <li class="nav-item dropdown">
                        @await Component.InvokeAsync("CategoriaMenu")

                    </li>
                    @if(User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>

                        </li>
                    }

                    <li class="nav-item buscar d-none-xs">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#modal-buscar">
                            <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 512 512" style="fill: #ff4700;">
                                <!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                            </svg>                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="nav-item d-none-xs">

                    @await Component.InvokeAsync("CarrinhoCompraResumo")
                    </li>

                    
                </ul>

                

            </div>
        </div>
    </nav>

    <div class="modal fade" id="modal-buscar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-conten">
                <form class="searchbox isSelected" asp-controller="Produto" asp-action="Pesquisa" method="get">
                    <div class="form-group">
                        <input type="text" placeholder="O que você procura?" name="buscarPor" value="@ViewData["buscarPor"]">
                        <button class="sb-search-submit fa fa-search" id="searchsubmit" type="submit">
                            <svg b-49ubqv3qok="" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path b-49ubqv3qok="" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <header>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    
 

    <ul class="social">
        <span class="mb-30 d-block" style="
    text-align: center;
    margin-left: -43px;
    font-size: 33px;
    margin-bottom: 0;
    margin-top: 44px;
    font-weight: 500;
    color: #898989;
">Siga-nos</span>
        <li><a class="social_insta" href="https://www.instagram.com/cestadecafedamanhafestanacaixa/" target="_blank"><svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg> </a> </li>
    </ul>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Pradois Cestas - Feira de Santana - 2020 - <span id="anoAtual"></span> | Todos os direitos reservados.</p>
        <ul class="list-inline d-none">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>

    






    <a href="https://api.whatsapp.com/send?phone=+5475991702469&text=Ol%C3%A1%2C+eu+ia+comprar+no+site+mas+fiquei+com+uma+d%C3%BAvida." style="
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 36px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
      " target="_blank">
        <svg style="width: 35px; fill: #fff" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"> <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path> </svg>
    </a>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
















    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
@*     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 *@
    <script src="~/js/bootstrap.js" crossorigin="anonymous"></script>
    @*https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    *@

  @*   Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

 *@    <script src="~/js/navbar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <div class="pp">
        <div class="pp__box">
            <p class="pp__text">Utilizamos cookies essenciais para proporcionar uma melhor experiência.  Ao continuar navegando, você concorda com a nossa Política de privacidade.</p>
            <button class="button -mini -accept">OK</button>
            <a href="#" target="_blank" class="button -mini">Política de privacidade</a>
        </div>
        <button class="pp__close" aria-label="Ok">
            <span class="sr-only">Fechar</span>
            <svg class="close" width="20px" height="20px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1515.000000, -25.000000)">
                        <g transform="translate(1515.000000, 25.000000)" fill="#FFF">
                            <polygon transform="translate(15.375000, 15.375000) rotate(-315.000000) translate(-15.375000, -15.375000) " points="4.5 17.25 26.25 17.25 26.25 13.5 4.5 13.5"></polygon>
                            <polygon transform="translate(15.375000, 15.375000) rotate(-225.000000) translate(-15.375000, -15.375000) " points="4.5 17.25 26.25 17.25 26.25 13.5 4.5 13.5"></polygon>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <script id="rendered-js">
        /**
         * Validação da política de cookies LGPD
         */
        const cookies = () => {
            const bar = document.querySelector('.pp');
            const btnClose = document.querySelector('.pp__close'); // Fechar a barra
            const btnAccept = document.querySelector('.pp .-accept'); // Aceitar

            // Verifica se o cookie já existe, se não existe adiciona a barra
            if (!Cookies.get('privacidade')) {
                bar.classList.add('-active');
            }
            // Fechar a barra
            btnClose.onclick = e => {
                e.preventDefault();
                setCookie();
            };
            // Fechar a barra
            btnAccept.onclick = e => {
                e.preventDefault();
                setCookie();
            };
            // Grava o cookie e fecha a barra
            function setCookie() {
                Cookies.set('privacidade', 1, { expires: 30, path: '' });
                bar.classList.remove('-active');
            }
        };

        (function () {
            window.onload = () => {
                cookies();
            };
        })();
        //# sourceURL=pen.js

    </script>







    <script>
        // Obter o ano atual usando JavaScript
        var anoAtual = new Date().getFullYear();

        // Exibir o ano atual na página
        document.getElementById("anoAtual").innerText = anoAtual;
    </script>


    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to links only inside #escorrega_na_tela
            $("#escorrega_na_tela").on('click', function (event) {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
