
@model Produto
@using System.Globalization
@using System.Text

<div id="produto-@Model.ProdutoId" class="col-6 col-md-4 col-lg-3 pl-3-xs pr-xs-3" style="
    padding-right: .5rem!important;
    padding-left: .5rem!important;
">
    <div class=" cesta_super_top">
        @{
          

            string RemoverAcentos(string texto)
            {
                if (string.IsNullOrEmpty(texto))
                    return texto;

                string normalizedString = texto.Normalize(NormalizationForm.FormD);
                StringBuilder stringBuilder = new StringBuilder();

                foreach (char c in normalizedString)
                {
                    UnicodeCategory unicodeCategory = CharUnicodeInfo.GetUnicodeCategory(c);
                    if (unicodeCategory != UnicodeCategory.NonSpacingMark)
                    {
                        stringBuilder.Append(c);
                    }
                }

                return stringBuilder.ToString().Normalize(NormalizationForm.FormC);
            }
        }
        @{
            string NomeCurtoCategoria = @Model.Categoria.NomeCurto.Replace(" ", "-");
        string NomeProduto = Model.Nome.Replace(" ", "-");
            string NomeConjugado = RemoverAcentos(NomeCurtoCategoria + "-" + NomeProduto);
        }

        <a asp-controller="Produto" asp-action="Details" asp-route-nome="@NomeConjugado" asp-route-produtoId="@Model.ProdutoId" class="envolve_produtos mb-30-xs mb-70">
            <img onload="obterAlturaLargura(this)" class="img-fluid" alt="@Model.DescricaoImgTagAlt" src="@Model.ImagemThumbnailUrl" decoding="async">
            <h4>@Model.Categoria.NomeCurto @Model.Nome</h4>
            <p> Possui @Model.QuantidadeDeItem  Itens </p>
            
            <div class="d-flex">
                <span>
                    <div id="preco_card_super_top">R$ @Model.PrecoPromocional</div>
                    <small class="d-block parcelas">
                        <b id="parcelas_supertop">@Model.Parcela</b>
                        <small>x R$</small>
                        <b id="valor_parcela_supertop">@String.Format("{0:N2}", Model.PrecoPromocional / Model.Parcela)</b>
                    </small>
                </span>
                @if (@Model.TaxaDeEntrega == 0)
                {
                    <div class=" ml-auto  mr-20">Frete Grátis</div>
                }

            </div>


        </a>
      
      </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1qEzB53L0R6JLY2zkiq0I6a0+PRAkFO9uqrs=" crossorigin="anonymous"></script>




<script>
    function adicionarAoCarrinhoAjax(produtoId) {
        console.log("Bõtão 2 foi clicado")

        $.ajax({
            url: '/CarrinhoCompra/AdicionarItemNoCarrinhoCompraAjax',
            type: 'POST',
            data: { produtoId: produtoId },
            success: function (result) {
                if (result.success) {
                    // Exibir alerta de sucesso usando Bootstrap
                    showAlert('success', result.mensagem);
                } else {
                    // Exibir alerta de falha usando Bootstrap
                    showAlert('danger', result.mensagem);
                }
            },
            error: function () {
                // Exibir alerta de erro usando Bootstrap
                showAlert('danger', 'Erro ao processar a solicitação.');
            }
        });
    }

    function showAlert(type, message) {
        // Crie e exiba um alerta Bootstrap
        var alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show" role="alert">' +
            message +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span></button></div>';

        $('#alertContainer').html(alertHtml);
    }
</script>









<script>
    function acaoBotao1() {
        console.log("Bõtão 1 foi clicado")
        document.getElementById("botao2").click();
    }
</script>
