@model IEnumerable<VendaProdutos.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
<h1>Categorias Cadastradas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagemDestaque)
                        </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeCurto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeCurto)
                        </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
           
          
          
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagemDestaque)
                            </td>

                            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


        </div>
    </div>
</div>