@model VendaProdutos.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <div class="row">
        <div class="col-12">
<h1>Deletar este pedido?</h1>

 <p>Atenção!! Ao deletar o pedido seus itens serão excluídos </p>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComprador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComprador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsappComprador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatsappComprador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RuaRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RuaRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplementoRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplementoRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCasaRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCasaRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDaEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontoDeReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontoDeReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhatsappRecebedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhatsappRecebedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDeEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCompradorDiferenteDoCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCompradorDiferenteDoCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cartinha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cartinha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprovanteDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprovanteDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoEnviado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoEnviado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoEntregueEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PedidoEntregueEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagamentoNaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagamentoNaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntregaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntregaPedido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

        </div>
    </div>
</div>