@model VendaProdutos.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}





<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>




<div class="container admin">
    <div class="row">
        <div class="col-12">
            <h1>Pedido: @Model.PedidoId</h1>

            <p>Não inclui os itens adicionados ao Pedido</p>
            <hr />
            <form asp-action="Edit">




                <div class=" row ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PedidoId" />

                    <ul class="nav nav-tabs mb-3" id="myTabs">
                        <li class="nav-item">
                            <a class=" active btn btn-primary" id="tab1-tab" data-toggle="tab" href="#tab1">EXIBIR PAGAMENTO</a>
                        </li>
                        <li class="nav-item">
                            <a class=" btn btn-primary" id="tab2-tab" data-toggle="tab" href="#tab2">EXIBIR TUDO</a>
                        </li>
                    </ul>
                    <div class="tab-pane fade show active" id="tab1">
                    </div>
                    <div class="tab-pane fade row" id="tab2">
                        <div class="form-group col-sm-4">
                            <label asp-for="NomeComprador" class="control-label"></label>
                            <input autocomplete="off" asp-for="NomeComprador" class="form-control" />
                            <span asp-validation-for="NomeComprador" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="WhatsappComprador" class="control-label"></label>
                            <input autocomplete="off" asp-for="WhatsappComprador" class="form-control" />
                            <span asp-validation-for="WhatsappComprador" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="TelefoneCompradorDiferenteDoCadastro" class="control-label">Whatsapp diferente do informado</label>
                            <input autocomplete="off" asp-for="TelefoneCompradorDiferenteDoCadastro" class="form-control" />
                            <span asp-validation-for="TelefoneCompradorDiferenteDoCadastro" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-12">
                            <h4 class="mb-3">Endereço da entrega</h4>
                        </div>

                        <div class="form-group col-sm-4">
                            <label asp-for="BairroRecebedor" class="control-label"></label>
                            <input autocomplete="off" asp-for="BairroRecebedor" class="form-control" />
                            <span asp-validation-for="BairroRecebedor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="RuaRecebedor" class="control-label"></label>
                            <input autocomplete="off" asp-for="RuaRecebedor" class="form-control" />
                            <span asp-validation-for="RuaRecebedor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="NumeroCasaRecebedor" class="control-label"></label>
                            <input autocomplete="off" asp-for="NumeroCasaRecebedor" class="form-control" />
                            <span asp-validation-for="NumeroCasaRecebedor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="PontoDeReferencia" class="control-label"></label>
                            <input autocomplete="off" asp-for="PontoDeReferencia" class="form-control" />
                            <span asp-validation-for="PontoDeReferencia" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="Complemento" class="control-label"></label>
                            <input autocomplete="off" asp-for="Complemento" class="form-control" />
                            <span asp-validation-for="Complemento" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-4">
                            <label asp-for="NomeDaEmpresa" class="control-label"></label>
                            <input autocomplete="off" asp-for="NomeDaEmpresa" class="form-control" />
                            <span asp-validation-for="NomeDaEmpresa" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="Setor" class="control-label"></label>
                            <input autocomplete="off" asp-for="Setor" class="form-control" />
                            <span asp-validation-for="Setor" class="text-danger"></span>
                        </div>

                        <div class=" col-12">
                            <h4 class="mb-3">Informações complementáres</h4>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="QuemEstaEnviando" class="control-label"></label>
                            <input autocomplete="off" asp-for="QuemEstaEnviando" class="form-control" />
                            <span asp-validation-for="QuemEstaEnviando" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-4">

                            <label asp-for="NomeRecebedor" class="control-label"></label>
                            <input autocomplete="off" asp-for="NomeRecebedor" class="form-control" />
                            <span asp-validation-for="NomeRecebedor" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-4">
                            <label asp-for="WhatsappRecebedor" class="control-label"></label>
                            <input autocomplete="off" asp-for="WhatsappRecebedor" class="form-control" />
                            <span asp-validation-for="WhatsappRecebedor" class="text-danger"></span>
                        </div>


                        <div class="form-group col-sm-4">
                            <label asp-for="DataDeEntrega" class="control-label"></label>
                            <input autocomplete="off" asp-for="DataDeEntrega" id="datePicker" required class="form-control" />
                            <span asp-validation-for="DataDeEntrega" class="text-danger"></span>
                        </div>

                        @{
                            // Sua propriedade do tipo string que contém o horário no formato "HH:mm"
                            string horario = @Model.HoraDeEntrega;

                            // Dividir a string em horas e minutos
                            string[] partesHorario = horario.Split(':');
                            int horas = int.Parse(partesHorario[0]);
                            int minutos = int.Parse(partesHorario[1]);

                            // Adicionar 1 aos minutos

                            // Verificar se os minutos ultrapassaram 59 e ajustar as horas
                            minutos = 59;

                            // Formatar a string de horário resultante
                            string horarioDaentrega = $"{horas:D2}:{minutos:D2}";
                        }

                        <div class="form-group col-sm-4">
                            <label asp-for="HoraDeEntrega" class="control-label">Horário da entrega:<b> @Model.HoraDeEntrega às @horarioDaentrega</b></label>
                            <select asp-for="HoraDeEntrega" id="selectHours" class="form-control">
                                <option value="@Model.HoraDeEntrega">@Model.HoraDeEntrega às @horarioDaentrega</option>
                            </select>
                            <span asp-validation-for="HoraDeEntrega" class="text-danger"></span>
                        </div>


                        <div class="form-group col-sm-6">
                            <label asp-for="Cartinha" class="control-label"></label>
                            <textarea asp-for="Cartinha" class="form-control"></textarea>
                            <span asp-validation-for="Cartinha" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="Observacoes" class="control-label"></label>
                            <textarea asp-for="Observacoes" class="form-control"></textarea>
                            <span asp-validation-for="Observacoes" class="text-danger"></span>
                        </div>
                        <div class=" col-sm-12">
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="PedidoEnviado" class="control-label"></label>
                            <input autocomplete="off" asp-for="PedidoEnviado" class="form-control" readOnly />
                            <span asp-validation-for="PedidoEnviado" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="PedidoEntregueEm" class="control-label"></label>
                            <input autocomplete="off" asp-for="PedidoEntregueEm" id="dataDois" class="form-control" />
                            <span asp-validation-for="PedidoEntregueEm" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" col-sm-12">
                        <h4 class="mb-3">Controle interno</h4>
                    </div>
                   
                     <div class="form-group col-sm-4">
                        <label asp-for="Frete" class="control-label"></label>
                        <input autocomplete="off" oninput="formatarMoeda(this)" asp-for="Frete" class="form-control" />
                        <span asp-validation-for="Frete" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="ObservacoesInterna" class="control-label"></label>
                        <textarea autocomplete="off" asp-for="ObservacoesInterna" class="form-control"></textarea>
                        <span asp-validation-for="ObservacoesInterna" class="text-danger"></span>
                    </div>

                    <div class=" col-sm-12">
                        <h4 class="mb-3">Cobrança</h4>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="TotalPedido" class="control-label"></label>
                        <input autocomplete="off" asp-for="TotalPedido" class="form-control" readOnly />
                        <span asp-validation-for="TotalPedido" class="text-danger"></span>
                    </div>

                    <div class="form-group col-sm-4">
                        <label asp-for="TotalItensPedido" class="control-label"></label>
                        <input autocomplete="off" asp-for="TotalItensPedido" class="form-control" readOnly />
                        <span asp-validation-for="TotalItensPedido" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-12">
                        <h4 class="mb-3">Pagamento</h4>
                    </div>
                    @{
                        bool desabilitaComprovanteUm = !string.IsNullOrEmpty(Model.ComprovanteDePagamento);
                        bool desabilitaComprovanteDois = !string.IsNullOrEmpty(Model.ComprovanteSegundoPagamento);

                    }

                    <div class="form-group col-sm-4">
                        <label asp-for="ComprovanteDePagamento" class="control-label">Comprovante 1º pagamento</label>
                        <input autocomplete="off" asp-for="ComprovanteDePagamento" class="form-control" />
                        <span asp-validation-for="ComprovanteDePagamento" class="text-danger"></span>
                        @if (desabilitaComprovanteUm)
                        {
                            <script>document.getElementById("ComprovanteDePagamento").readOnly = true;</script>
                        }
                    </div>

                    @if (desabilitaComprovanteUm)
                    {

                        <div class="form-group col-sm-4">
                            <label asp-for="ComprovanteSegundoPagamento" class="control-label">Comprovante 2º pagamento</label>
                            <input autocomplete="off" asp-for="ComprovanteSegundoPagamento" class="form-control" />
                            <span asp-validation-for="ComprovanteSegundoPagamento" class="text-danger"></span>
                            @if (desabilitaComprovanteDois)
                            {
                                <script>document.getElementById("ComprovanteSegundoPagamento").readOnly = true;</script>
                            }
                        </div>

                    }
                    <div class="col-12"></div>

                    <div class="form-group col-sm-5" id="pagamentoParcialDiv">
                        <label id="pagouApenas" class="control-label"></label>
                        <div class="form-inline">
                            <input asp-for="PagamentoParcial" class="form-control" oninput="calcularTotal(this)" />
                            <button type="button" id="botaoConfirmaPagamento" class="btn btn-primary" style="display:none;" onclick="pagouTudo()">Confirmar</button>
                        </div>
                        <span asp-validation-for="PagamentoParcial" class="text-danger"></span>
                        <span style="font-weight:bold;" id="totalResultante"></span>
                        @if (Model.PagamentoPedido)
                        {
                            <script>document.getElementById("PagamentoParcial").readOnly = true;</script>
                        }

                    </div>

                    <div class="col-12">
                        <div class="row" id="todosOsCheckbox">

                            <div id="pagamentoPedidoDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="PagamentoPedido" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="PagamentoPedido" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.PagamentoPedido)
                                    <div class="text-danger" id="selecioneOpcaoDiv" style="display:none; margin-left: 10px;">
                                        <b>*</b>
                                    </div>
                                </label>
                            </div>
                            <div id="pagamentoNaEntregaDiv" class="form-group form-check col-sm-12">
                                <label asp-for="PagamentoNaEntrega" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="PagamentoNaEntrega" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.PagamentoNaEntrega)
                                </label>
                            </div>
                            <div id="pedidoPreparadoDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="PedidoPreparado" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="PedidoPreparado" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.PedidoPreparado)
                                </label>
                            </div>
                            <div id="saiuPraEntregaDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="SaiuPraEntrega" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="SaiuPraEntrega" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.SaiuPraEntrega)
                                </label>
                         @if (Model.SaiuPraEntrega){
                            <script> 
                                 document.querySelector('label[for="SaiuPraEntrega"]').setAttribute("id", "readonly-checkbox");
                            </script>
                        }
                            </div>

                           

                            <div id="enderecoNaoEncontradoDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="EnderecoNaoEncontrado" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="EnderecoNaoEncontrado" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.EnderecoNaoEncontrado)
                                </label>
                                @if ( Model.EnderecoNaoEncontrado){
                                    <script>document.querySelector('label[for="EnderecoNaoEncontrado"]').setAttribute("id", "readonly-checkbox");</script>
                                    }
                            </div>
                            <div id="destinatarioNaoLocalizadoDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="DestinatarioNaoLocalizado" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="DestinatarioNaoLocalizado" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.DestinatarioNaoLocalizado)
                                </label>
                                  @* @if (Model.DestinatarioNaoLocalizado ){
                                       <script>document.querySelector('label[for="DestinatarioNaoLocalizado"]').setAttribute("id", "readonly-checkbox");</script>
                                    } *@
                            </div>
                         
                            
                            <div id="observacaoNaoEntregueDiv" class="form-group col-sm-4" style="display:none;">
                                <label asp-for="ObservacaoNaoEntregue" class="control-label"></label>
                                <textarea autocomplete="off" asp-for="ObservacaoNaoEntregue" class="form-control"></textarea>
                                <span asp-validation-for="ObservacaoNaoEntregue" class="text-danger"></span>
                                  @if ( Model.EnderecoNaoEncontrado || Model.DestinatarioNaoLocalizado ){
                            <script> 
                              conteudoInputSemEspaco = document.getElementById("ObservacaoNaoEntregue").value.trim();
                              if(conteudoInputSemEspaco !== ""){
@*                                   document.getElementById("ObservacaoNaoEntregue").readOnly = true;
 *@                              }else{
                                  document.getElementById("observacaoNaoEntregueDiv").classList.add("d-none");
                              }
                            </script>
                        }
                            </div>

                             <div id="saiuParaEntegaNovamenteDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="SaiuParaEntegaNovamente" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="SaiuParaEntegaNovamente" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.SaiuParaEntegaNovamente)
                                </label>

                            </div>

                            <div id="entregaPedidoDiv" class="form-group form-check col-sm-12" style="display:none;">
                                <label asp-for="EntregaPedido" class="form-check-label">
                                    <input autocomplete="off" class="form-check-input" asp-for="EntregaPedido" onchange="verificarCheckbox()" /> @Html.DisplayNameFor(model => model.EntregaPedido)
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span id="erroAoSalvar"></span><br />
                        <button type="submit" id="botaoSalvar" class="btn btn-success btn-lg"> Salvar </button>
                    </div>
                </div>
            </form>



            <div>
                <a asp-action="Index">Voltar a listagem</a>
            </div>


        </div>
    </div>
</div>
















@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectHours = document.getElementById("selectHours");

            // Função para verificar se a data selecionada é igual à data atual
            function isDataSelecionadaIgualDataAtual(selectedDate) {
                const currentDate = new Date();
                currentDate.setHours(0, 0, 0, 0);
                selectedDate.setHours(0, 0, 0, 0);
                return selectedDate.getTime() === currentDate.getTime();
            }

            // Função para limpar as opções do select
            function limparOpcoesSelect() {
                while (selectHours.options.length > 0) {
                    selectHours.remove(0);
                }
            }

            // Função para verificar se duas datas estão no mesmo dia
            function isSameDay(date1, date2) {
                return (
                    date1.getFullYear() === date2.getFullYear() &&
                    date1.getMonth() === date2.getMonth() &&
                    date1.getDate() === date2.getDate()
                );
            }

            // Função para listar as horas com base na lógica desejada
            function listaHoraDoDiaAtual(selectedDate) {
                limparOpcoesSelect();

                const now = new Date();
                const currentHour = now.getHours();
                let startHour;

                // Verifica se a data selecionada é igual à data atual
                if (isDataSelecionadaIgualDataAtual(selectedDate)) {
                    startHour = currentHour + 4; // Inicia 4 horas à frente do horário atual
                    startHour = Math.max(4, startHour);
                    if (currentHour > 14) {
                        adicionarAvisoDeFaltaDeHorario();
                    }
                    if (currentHour < 6) {
                        startHour = 9;
                    }
                } else {
                    // Verificar se selectedDate é igual ao dia seguinte
                    const tomorrow = new Date();
                    tomorrow.setDate(tomorrow.getDate() + 1);

                    if (isSameDay(selectedDate, tomorrow) && currentHour < 6 || isSameDay(selectedDate, tomorrow) && currentHour > 18) {
                        // Faça algo se selectedDate for igual ao dia seguinte
                        startHour = 9;
                    } else {
                        startHour = 6; // Inicia às 6 da manhã se a data selecionada não for igual à data atual
                    }
                }

                const endHour = Math.min(19, 24);

                // Adiciona opções de horas em intervalos de 30 minutos
                for (let hour = startHour; hour < endHour; hour++) {
                    for (let minute = 0; minute < 60; minute += 60) {
                        const formattedHour = (hour < 10 ? '0' : '') + hour.toString();
                        const formattedMinute = minute === 0 ? '00' : minute.toString();
                        let optionText;

                        if (hour <= 12) {
                            optionText = `Manhã, ${formattedHour}h${formattedMinute} às ${formattedHour}h${(minute + 60) - 1}`;
                        } else {
                            optionText = `Tarde, ${formattedHour}h${formattedMinute} às ${formattedHour}h${(minute + 60) - 1}`;
                        }

                        const option = new Option(optionText, `${formattedHour}:${formattedMinute}`);
                        selectHours.add(option);
                    }
                }

                if (isDataSelecionadaIgualDataAtual(selectedDate)) {
                    // Adiciona a última opção se o horário atual for menor que 18h
                    // if (currentHour < 18) {
                    //     const lastOption = new Option(`Tarde 18h00 às 18h${(currentHour + 58) - 1}`, '18:00');
                    //     selectHours.add(lastOption);
                    // }
                }
            }

            // Função para adicionar uma opção inicial desativada ao select
            function adicionarOpcaoInicial() {
                const option = new Option('Escolha uma data primeiro', '');
                option.disabled = true;
                selectHours.add(option);
            }

            // Função para adicionar uma opção inicial desativada ao select quando não tiver mais horário disponível para entrega no dia
            function adicionarAvisoDeFaltaDeHorario() {
                const option = new Option('Não entregamos mais hoje, escolha outra data', '');
                option.disabled = true;
                selectHours.add(option);
            }

            // Adiciona um evento para chamar a função quando a data for alterada
            flatpickr("#datePicker", {
                dateFormat: "l, d/m/Y",
                locale: {
                    firstDayOfWeek: 0,
                    weekdays: {
                        shorthand: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                        longhand: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    },
                    months: {
                        shorthand: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        longhand: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    },
                },
                showMonths: 1,
                enableTime: false,
                allowInput: true,
                disableMobile: "true",
                onClose: function (selectedDates, dateStr, instance) {
                    limparOpcoesSelect();
                    if (selectedDates.length > 0) {
                        listaHoraDoDiaAtual(selectedDates[0]);

                        // Seleciona a opção com valor igual ao da propriedade HoraDeEntrega
                        const horaDeEntregaValue = "@Model.HoraDeEntrega";
                        for (let option of selectHours.options) {
                            if (option.value === horaDeEntregaValue) {
                                option.selected = true;
                                break;
                            }
                        }
                    } else {
                        adicionarOpcaoInicial();
                    }
                },
                defaultDate: "@Model.DataDeEntrega"
            });

            // Adiciona a opção inicial desativada ao carregar a página
            adicionarOpcaoInicial();
        });

















        flatpickr("#dataDois", {
            dateFormat: "l, d/m/Y",
            // minDate: "today",
            maxDate: "today",
            locale: {
                firstDayOfWeek: 0,
                weekdays: {
                    shorthand: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                    longhand: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                },
                months: {
                    shorthand: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    longhand: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                },
            },
            showMonths: 1,
            enableTime: false,
            allowInput: true,
            disableMobile: "true",
            onClose: function (selectedDates, dateStr, instance) {
                limparOpcoesSelect();
                if (selectedDates.length > 0) {
                    listaHoraDoDiaAtual(selectedDates[0]);
                } else {
                    adicionarOpcaoInicial();
                }

            }
        });
    </script>










    <script>
        $(document).ready(function () {
            // Seleciona todos os elementos de entrada com valor diferente de vazio
            $('input[value!=""]').each(function () {
                // Adiciona o estilo desejado
                $(this).css('font-weight', '800');
            });
        });
    </script>


    <script>
                  var veioPagoDoBanco = false;

   

                var clientePagouTudo = false;
                      var confirmouTudoPago = false;
                window.onload = function () {
                    calcularTotal();
                 };
                function calcularTotal(input) {
                    formatarMoeda(input)
                    // Obtenha os valores dos inputs
                    var totalPedido = parseFloat('@Model.TotalPedido.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)'.replace(",", "."));
                    var pagamentoParcialInput = document.getElementById("PagamentoParcial");
                    var pagamentoParcial = parseFloat(pagamentoParcialInput.value.replace(",", ".")) || 0;


                    // Exiba o resultado no span com formatação
                    var totalResultanteSpan = document.getElementById("totalResultante");
                    var pagouApenasSpan = document.getElementById("pagouApenas");
                    pagouApenasSpan.textContent = "Quanto pagou?"
                    // Chamada da função verificarCheckbox no início

                    // Calcule o resultado
                    var resultado = totalPedido - pagamentoParcial;

                    // Adicione classe vermelha se pagamentoParcial ultrapassar totalPedido
                    if (pagamentoParcial > totalPedido) {
                        totalResultanteSpan.classList.add("text-warning");
                        totalResultanteSpan.classList.remove("text-success");
                        totalResultanteSpan.classList.remove("text-danger");
                        totalResultanteSpan.textContent = "Pagamento maior que a divida";
                        clientePagouTudo = false;
                    } else if (pagamentoParcial === totalPedido) {
                        totalResultanteSpan.classList.add("text-success");
                        totalResultanteSpan.classList.remove("text-warning");
                        totalResultanteSpan.classList.remove("text-danger");
                        totalResultanteSpan.textContent = "Pedido completamente pago"
                        pagouApenasSpan.textContent = "Pagou"
                        clientePagouTudo = true;
                    } else if (pagamentoParcial > 0 && pagamentoParcial < totalPedido) {
                        pagouApenasSpan.textContent = "Pagou apenas"
                        totalResultanteSpan.classList.add("text-danger");
                        totalResultanteSpan.classList.remove("text-success");
                        totalResultanteSpan.classList.remove("text-warning");
                        totalResultanteSpan.textContent = "Falta pagar:" + resultado.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) ;
                        ;

                        clientePagouTudo = false;
                    } else {
                        totalResultanteSpan.classList.add("text-danger");
                        totalResultanteSpan.classList.remove("text-success");
                        totalResultanteSpan.classList.remove("text-warning");
                        totalResultanteSpan.textContent = "Falta pagar: R$ " + resultado.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                        clientePagouTudo = false;
                    }
         verificarCheckbox(false);

                }

                function pagouTudo(){
               confirmouTudoPago = true;
              verificarCheckbox()
              }

                function verificarCheckbox() {
                   var pagamentoPedidoDiv = document.getElementById("pagamentoPedidoDiv");
                   var pagamentoNaEntregaDiv = document.getElementById("pagamentoNaEntregaDiv");
                   var pedidoPreparadoDiv = document.getElementById("pedidoPreparadoDiv");
                   var saiuPraEntregaDiv = document.getElementById("saiuPraEntregaDiv");
                   var entregaPedidoDiv = document.getElementById("entregaPedidoDiv");
            var destinatarioNaoLocalizadoDiv = document.getElementById("destinatarioNaoLocalizadoDiv");
            var enderecoNaoEncontradoDiv = document.getElementById("enderecoNaoEncontradoDiv");
            var observacaoNaoEntregueDiv = document.getElementById("observacaoNaoEntregueDiv");
                    var saiuParaEntegaNovamenteDiv = document.getElementById("saiuParaEntegaNovamenteDiv");


                    var saiuPraEntregaInput = document.getElementById("SaiuPraEntrega");
                    var pedidoPreparadoInput = document.getElementById("PedidoPreparado");
                    var entregaPedidoInput = document.getElementById("EntregaPedido");
                    var pagamentoNaEntregaInput = document.getElementById("PagamentoNaEntrega");
                    var pagamentoPedidoInput = document.getElementById("PagamentoPedido");
            var destinatarioNaoLocalizadoInput = document.getElementById("DestinatarioNaoLocalizado");
            var enderecoNaoEncontradoInput = document.getElementById("EnderecoNaoEncontrado");
            var observacaoNaoEntregueInput = document.getElementById("ObservacaoNaoEntregue");
            var saiuParaEntegaNovamenteInput = document.getElementById("SaiuParaEntegaNovamente");
            

                    var selecioneOpcaoDiv = document.getElementById("selecioneOpcaoDiv");
                    var pagamentoParcialDiv = document.getElementById("pagamentoParcialDiv");


                    var saiuPraEntregaLabel = document.querySelector('label[for="SaiuPraEntrega"]');
                    var pedidoPreparadoLabel = document.querySelector('label[for="PedidoPreparado"]');
                    var entregaPedidoLabel = document.querySelector('label[for="EntregaPedido"]');
                    var pagamentoNaEntregaLabel = document.querySelector('label[for="PagamentoNaEntrega"]');
                    var pagamentoPedidoLabel = document.querySelector('label[for="PagamentoPedido"]');
                    var saiuParaEntegaNovamenteLabel = document.querySelector('label[for="SaiuParaEntegaNovamente"]');


            var destinatarioNaoLocalizadoLabel = document.querySelector('label[for="DestinatarioNaoLocalizado"]');
            var enderecoNaoEncontradoLabel = document.querySelector('label[for="EnderecoNaoEncontrado"]');
 

                    var totalPedido = parseFloat('@Model.TotalPedido.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)'.replace(",", "."));
                    var pagamentoParcialInput = document.getElementById("PagamentoParcial");
                    var pagamentoParcial = parseFloat(pagamentoParcialInput.value.replace(",", ".")) || 0;
                    var resultado = totalPedido - pagamentoParcial;

                    var pedidoTaPago = pagamentoParcial == totalPedido;
                    var pagouParteDoValor =  pagamentoParcial < totalPedido && pagamentoParcial > 0;
                    var naoPagouNada = pagamentoParcial == 0;
                     
                    var quarentaPorcento = totalPedido * 0.4;
       

 


        //pagar tudo na entrega e o pedido foi preparado
        if(naoPagouNada &&  pedidoPreparadoInput.checked){
        pagamentoNaEntregaLabel.classList.remove("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega

        }
        if(naoPagouNada && pedidoPreparadoInput.checked && saiuPraEntregaInput.checked && !enderecoNaoEncontradoInput.checked && !destinatarioNaoLocalizadoInput.checked){
        pagamentoNaEntregaInput.checked = true; // checa o checkbox de pagamento na entrega@**@
         }
        //esconder preparado antes de preparar
        if(!saiuPraEntregaInput.checked && !pedidoPreparadoInput.checked && !pagamentoNaEntregaInput.checked && naoPagouNada){
                pedidoPreparadoDiv.style.display = "none";
        }


         //pedido pago
        if(!pedidoTaPago){
         pagamentoPedidoDiv.style.display = "none"; //esconde div com o input text
         pagamentoPedidoInput.checked = false;  //descheca o checkbox que informa se foi pago
        }
        // tá pago e ta na loja
        if(pedidoTaPago && confirmouTudoPago){
        pagamentoPedidoInput.checked = true;  //checa o checkbox que informa se foi pago
        pagamentoPedidoDiv.style.display = "block"; // exibe a div que com o checkbox que informa se foi pago
        pagamentoPedidoLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox que informa se foi pago
       

        }

        if(pedidoTaPago && !confirmouTudoPago && saiuPraEntregaInput.checked && enderecoNaoEncontradoInput.checked && !saiuParaEntegaNovamenteInput.checked
   ||   pedidoTaPago && !confirmouTudoPago && saiuPraEntregaInput.checked && destinatarioNaoLocalizadoInput.checked && !saiuParaEntegaNovamenteInput.checked){
             pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
            pagamentoNaEntregaInput.checked = false; // descheca o checkbox de pagamento na entrega

         }
        if(pedidoTaPago && !saiuPraEntregaInput.checked){
            pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
        pagamentoNaEntregaInput.checked = false; // descheca o checkbox de pagamento na entrega

        }
        if(saiuPraEntregaInput.checked && !entregaPedidoInput.checked){
            if(pagouParteDoValor){
                        if (!enderecoNaoEncontradoInput.checked && !destinatarioNaoLocalizadoInput.checked) {
 pagamentoNaEntregaInput.checked = true; // checa o checkbox de pagamento na entrega@**@
 pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega

                        }

            }
        }

        //Se informar que pagou tudo tem que confirmar
        if(pedidoTaPago  && !pagamentoPedidoInput.checked){
            if(confirmouTudoPago){
                document.getElementById("PagamentoParcial").readOnly = true;
                document.getElementById("todosOsCheckbox").style.display = "block";
        document.getElementById("botaoSalvar").disabled = false;
 // document.getElementById("botaoConfirmaPagamento").style.display = "none";
        document.getElementById("erroAoSalvar").textContent = "";

        }else{
            document.getElementById("botaoSalvar").disabled = true;
        document.getElementById("todosOsCheckbox").style.display = "none";

        document.getElementById("erroAoSalvar").textContent = "Confirme que o pedido está pago, clique no botão azul ";
        }
        }else{
                document.getElementById("todosOsCheckbox").style.display = "block";
        document.getElementById("botaoSalvar").disabled = false;
        // document.getElementById("botaoConfirmaPagamento").style.display = "block";
        document.getElementById("erroAoSalvar").textContent = "";
        }
         
        if(pedidoTaPago && !pagamentoPedidoInput.checked){
        document.getElementById("botaoConfirmaPagamento").style.display = "block";
        }
        if(pagamentoPedidoInput.checked){
                    document.getElementById("botaoConfirmaPagamento").style.display = "none";
                       document.getElementById("PagamentoParcial").readOnly = true;
               }

        //pagamento total na entrega
        if(naoPagouNada && pagamentoNaEntregaInput.checked){
                pedidoPreparadoDiv.style.display = "block";
                 document.getElementById("erroAoSalvar").textContent = "5";
        }

        //pagou parte
        if(pagouParteDoValor){
          pedidoPreparadoDiv.style.display = "block"; // exibe a div  com o checkbox que informa se foi preparado

        }
        //pedido foi preparado só exibe si
        if(pagouParteDoValor || pagamentoNaEntregaInput.checked || pedidoTaPago ){
                pedidoPreparadoDiv.style.display = "block"; // exibe a div  com o checkbox que informa se foi preparado

        }else{
                if(!naoPagouNada && !pagamentoNaEntregaInput.checked && !pedidoPreparadoInput.checked){
                pedidoPreparadoDiv.style.display = "none"; // exibe a div  com o checkbox que informa se foi preparado
        }

        }
        //pedido preparado
        if(pedidoPreparadoInput.checked){
            pedidoPreparadoLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pedido preparado
            saiuPraEntregaDiv.style.display = "block"; // exibe a div  com o checkbox que informa se saiu para entrega
        }
        //saiu para entrega pela primeira vez
        if(saiuPraEntregaInput.checked){
            pedidoPreparadoLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pedido preparado
            entregaPedidoDiv.style.display = "block"; // exibe a div  com o checkbox que informa se o pedido foi entregue

            if (!enderecoNaoEncontradoInput.checked && !destinatarioNaoLocalizadoInput.checked) {
                pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
            } else {
                if(!pedidoTaPago){
                    pagamentoNaEntregaLabel.classList.remove("readonly-checkbox"); //permite que alterem o valor do checkbox de pagamento na entrega             
                    }else{
                    pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
                    }
                }

                if (!enderecoNaoEncontradoInput.checked) {
                destinatarioNaoLocalizadoDiv.style.display = "block"; // exibe a div  com o checkbox que informa se o destinatário não foi  localizado
            } else {
                    destinatarioNaoLocalizadoDiv.style.display = "none"; // esconde a div  com o checkbox que informa se o destinatário não foi  localizado
            }
                if (!destinatarioNaoLocalizadoInput.checked) {
                enderecoNaoEncontradoDiv.style.display = "block"; // exibe a div  com o checkbox que informa se o endereço não foi encontrado
            } else {
                    enderecoNaoEncontradoDiv.style.display = "none"; // exibe a div  com o checkbox que informa se o endereço não foi encontrado
            }
            //não saiu para entrega pela primeira vez
        } else{
            entregaPedidoDiv.style.display = "none"; // esconde a div  com o checkbox que informa se o pedido foi entregue
                destinatarioNaoLocalizadoDiv.style.display = "none"; // esconde a div  com o checkbox que informa se o destinatário não foi  localizado
                enderecoNaoEncontradoDiv.style.display = "none"; // esconde a div  com o checkbox que informa se o endereço não foi encontrado
 
                if(!pedidoTaPago){
             pagamentoNaEntregaLabel.classList.remove("readonly-checkbox"); //permite que alterem o valor do checkbox de pagamento na entrega*
             }
        }


        //saiu primeira vez mas ainda não foi entregue
         if(saiuPraEntregaInput.checked && !entregaPedidoInput.checked){
         saiuPraEntregaLabel.classList.remove("readonly-checkbox"); //permite que alterem o valor do checkbox de saiu para entrega
        }










        


            if (enderecoNaoEncontradoInput.checked || destinatarioNaoLocalizadoInput.checked ) {
                observacaoNaoEntregueDiv.style.display = "block";
                saiuPraEntregaLabel.classList.add("readonly-checkbox");
                entregaPedidoDiv.style.display = "none";
                saiuParaEntegaNovamenteDiv.style.display ="block"

            }else{
                observacaoNaoEntregueDiv.style.display = "none"
                saiuParaEntegaNovamenteDiv.display ="none"
                saiuPraEntregaLabel.classList.remove("readonly-checkbox");
                pagamentoNaEntregaLabel.classList.remove("readonly-checkbox"); //permite que alterem o valor do checkbox de pagamento na entrega
            }


            if(saiuParaEntegaNovamenteInput.checked){
                pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
                enderecoNaoEncontradoLabel.classList.add("readonly-checkbox");
                destinatarioNaoLocalizadoLabel.classList.add("readonly-checkbox");
                saiuPraEntregaLabel.classList.add("readonly-checkbox");
                entregaPedidoDiv.style.display = "block";

                var obsSemConteudo = observacaoNaoEntregueInput.value.trim();
                if(obsSemConteudo !== ""){
                observacaoNaoEntregueInput.readOnly = true;
                }else{
                observacaoNaoEntregueDiv.style.display = "none"
                }

                if(naoPagouNada || pagouParteDoValor){
                   pagamentoNaEntregaInput.checked = true; // checa o checkbox de pagamento na entrega@**@
                }


            }else{
                enderecoNaoEncontradoLabel.classList.remove("readonly-checkbox");
                destinatarioNaoLocalizadoLabel.classList.remove("readonly-checkbox");
                            if (enderecoNaoEncontradoInput.checked || destinatarioNaoLocalizadoInput.checked ) {
                entregaPedidoDiv.style.display = "none";
                            }
                observacaoNaoEntregueInput.readOnly = false;

            }


            
         //foi entregue
        if(entregaPedidoInput.checked){
        saiuPraEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de saiu para entrega
            pagamentoNaEntregaLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pagamento na entrega
            entregaPedidoLabel.classList.add("readonly-checkbox"); //impede que alterem o valor do checkbox de pedido entregue
            saiuParaEntegaNovamenteLabel.classList.add("readonly-checkbox");

                                        if (!enderecoNaoEncontradoInput.checked && !destinatarioNaoLocalizadoInput.checked ) {
                                            enderecoNaoEncontradoDiv.style.display = "none";
                                                    destinatarioNaoLocalizadoDiv.style.display = "none";
                                        }

@*
                if (!destinatarioNaoLocalizadoInput.checked) {
                destinatarioNaoLocalizadoDiv.style.display = "none"; // esconde a div  com o checkbox que informa se o destinatário não foi  localizado
            }
            if (!enderecoNaoEncontradoInput.checked) {
                enderecoNaoEncontradoDiv.style.display = "none"; // exibe a div  com o checkbox que informa se o endereço não foi encontrado
            }*@
        }








                if(saiuPraEntregaInput.checked && pagamentoPedidoInput.checked){
               pagamentoNaEntregaLabel.classList.add("readonly-checkbox");
        }










        //Alertas
    if (pagamentoParcial > totalPedido) {
                        document.getElementById("botaoSalvar").disabled = true;
                        document.getElementById("erroAoSalvar").textContent = `O valor informado é maior que o cliente deve`;
                        document.getElementById("erroAoSalvar").style.color = "#f00"
                    }
         else if (pagamentoParcial < totalPedido * 0.4) {
                    document.getElementById("botaoSalvar").disabled = false;
                    document.getElementById("erroAoSalvar").textContent = "Para confirmar o pedido é preciso pagar 50% ou no minimo R$" + quarentaPorcento.toFixed(2);
                    document.getElementById("erroAoSalvar").style.color = "#f00"
             } else if (pagamentoPedido.checked && pagamentoNaEntrega.checked && !entregaPedido.checked) {
                        document.getElementById("botaoSalvar").disabled = true;
                        document.getElementById("erroAoSalvar").textContent = "Se o cliente pagou antes da entrega, desmarque a opção pagamento na entrega";
                        document.getElementById("erroAoSalvar").style.color = "#f00"
                    } else if (!pagamentoPedido.checked && entregaPedido.checked) {
                        document.getElementById("botaoSalvar").disabled = false;
                        document.getElementById("erroAoSalvar").textContent = "Não entregamos pedidos antes de ser pago";
                        document.getElementById("erroAoSalvar").style.color = "#f00"
                    }
                    else {
                        document.getElementById("botaoSalvar").disabled = false;
                        document.getElementById("erroAoSalvar").textContent = "";
                     }
                }


    </script>
    <script>
        function formatarMoeda(input) {
            if (!input || typeof input.value === 'undefined') {
                console.error('Input indefinido ou não possui a propriedade "value".');
                return;
            }
            // Remove todos os caracteres não numéricos
            let valor = input.value.replace(/\D/g, '');

            // Se o valor for vazio, exibe um espaço em branco no campo
            if (valor === '') {
                input.value = '';
                return;
            }

            // Substitui a vírgula por ponto e converte o valor para centavos
            valor = (parseFloat(valor.replace(',', '.')) / 100).toFixed(2);

            // Atualiza o valor no campo de entrada
            input.value = valor.replace('.', ',');
        }
    </script>

       

}
 
         
         
 

