@model ReflectionIT.Mvc.Paging.PagingList<VendaProdutos.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<div class="container admin">
    <div class="row">
        <div class="col-12">

<h1>Pedidos realizados</h1>

<form method="get" class="row busca_admin">
                <div class="col-6 col-sm-2 form-group">
                    <label for="horaEntregaFilter" class="mr-2">Id:</label>
                <input name="idPedidoFilter" class="form-control" placeholder="Id do pedido" value="@Model.RouteValue["idPedidoFilter"]" />
                </div>
                <div class="col-6 col-sm-2 form-group">
                    <label for="compradorFilter" class="mr-2">Comprador:</label>
                <input name="compradorFilter" class="form-control" placeholder="Comprador" value="@Model.RouteValue["compradorFilter"]" />
        </div>
                <div class="col-6 col-sm-2 form-group">
                    <label for="whatsappFilter" class="mr-2">Zap comprador:</label>
                <input name="whatsappFilter" class="form-control" placeholder="Whatsapp Comprador" value="@Model.RouteValue["whatsappFilter"]" />
                </div>
                <div class="col-6 col-sm-2 form-group">
                    <label for="whatsappFilter" class="mr-2">Recebedor:</label>
                    <input name="recebedorFilter" class="form-control" placeholder="Recebedor" value="@Model.RouteValue["recebedorFilter"]" />
                </div>
                <div class="col-6 col-sm-2 form-group">
                    <label for="dataEntregaFilter" class="mr-2">Data entrega:</label>
                <input name="dataEntregaFilter" class="form-control" id="datePicker" placeholder="Data de entrega" value="@Model.RouteValue["dataEntregaFilter"]" autocomplete="off" />
                </div>
                <div class="col-6 col-sm-2 form-group">
                    <label for="dataEntregaFilter" class="mr-2">Produto:</label>
                <input name="produtoFilter" class="form-control" placeholder="Produto" value="@Model.RouteValue["produtoFilter"]" />
                </div>

                
               @{
    var selectedOption = Model.RouteValue["horaEntregaFilter"];
}
                <div class="form-group col-6 col-sm-2">
                    <label for="horaEntregaFilter" class="mr-2">Hora:</label>
                <select name="horaEntregaFilter" id="selectHours" class="form-control horaEntregaFilterSelect">
                    @foreach (var option in (List<SelectListItem>)ViewData["HorasOptions"])
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
                </div>
                  

                <div class="form-group col-6 col-sm-2">
                    <label for="pagamentoEfetuadoFilter" class="mr-2">Pagou:</label>
                    <select name="pagamentoEfetuadoFilter" class="form-control">
                        @foreach (var option in (List<SelectListItem>)ViewData["PagamentoOptions"])
                        {
                            <option value="@option.Value" selected="@option.Selected">@option.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group col-6 col-sm-2">
                    <label class="control-label">Categoria:</label>
                    <select name="categoriaFilter" class="form-control categoriaFilterSelect">
                        <option value="">Todas</option>
                        @foreach (var option in ViewBag.CategoriaOptions)
                        {
                            <option value="@option.Value">@option.Text</option>
                        }

                    </select>
                </div>
                <div class="form-group col-6 col-sm-2">
                    <label for="pagamentoNaEntregaFilter" class="mr-2">Pagar na entrega:</label>
                    <select name="pagamentoNaEntregaFilter" class="form-control">
                        @foreach (var option in (List<SelectListItem>)ViewData["PagamentoNaEntrega"])
                        {
                            <option value="@option.Value" selected="@option.Selected">@option.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group col-6 col-sm-2">
                    <label for="pedidoEntregueFilter" class="mr-2">Foi entregue:</label>
                    <select name="pedidoEntregueFilter" class="form-control pedidoEntregueFilterSelect">
                        @foreach (var option in (List<SelectListItem>)ViewData["PedidoEntregue"])
                        {
                            <option value="@option.Value" selected="@option.Selected">@option.Text</option>
                        }
                    </select>
                </div>


                <div class="col-6  col-sm-2 mt-30">
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"> Procurar </span>
    </button>
                </div>
</form>
            <p>
                <a asp-action="">Limpar</a>
            </p>

Total de Pedidos : @Model.TotalRecordCount
            @if (ViewBag.SomaPedidosPagos > 0)
            {
            <p>Total em pedidos pagos: R$ @ViewBag.SomaPedidosPagos</p>

}
            @if (ViewBag.SomaPedidosNaoPagos > 0)
            {
                <p>Total em pedidos não pagos:  R$ @ViewBag.SomaPedidosNaoPagos</p>
            }
             


            <div class="paginador_admin">
    <vc:pager paging-list="@Model"></vc:pager>
</div>

       
<p>
    <a asp-action="Create">Novo Pedido</a>
</p>

         
            <div style="
    padding: 21px 0;
">
                <span class="mr-3">
                    <svg width="15px" xmlns="http://www.w3.org/2000/svg" fill="#ff8100" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by  https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" /></svg>
                   Entregar 
                </span>
                <span class="mr-3">
                    <svg width="15px" xmlns="http://www.w3.org/2000/svg" fill="#f00" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by  https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" /></svg>
                     Atrasou
                </span>
                <span class="mr-3">
                    <svg width="15px" xmlns="http://www.w3.org/2000/svg" fill="#d800ff" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by  https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" /></svg>
                     Cobrar
                </span>
               
                <span class="mr-3">
                    <svg width="15px" xmlns="http://www.w3.org/2000/svg" fill="#007bff" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by  https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" /></svg>
                     Entrega Futura 
                </span>
                <span class="mr-3">
                    <svg width="15px" xmlns="http://www.w3.org/2000/svg" fill="#28a745" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by  https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z" /></svg>
                     Entregou
                </span>
              

</div>


<div class="table-responsive">
            <table class="table table-hover ">
    <thead>
        <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PedidoId)
                        </th>
            <th>
                De Para, zap comprador
            </th>
       
            <th>
              Data e Hora <br />


            </th>
            <th>
                valor
            </th>      
            <th>
              Status do pedido 
            </th>
                        <th>
                            Alerta
                        </th>
            <th></th>
        </tr>
    </thead>
                <tbody >
@foreach (var item in Model) {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.PedidoId)
                            </td>
            <td>
                                <b>De:</b> @Html.DisplayFor(modelItem => item.NomeComprador) <br />
                                <b>Para:</b> @Html.DisplayFor(modelItem => item.NomeRecebedor)<br />
                                <b>Zap:</b> @Html.DisplayFor(modelItem => item.WhatsappComprador)


            </td>
           
            <td>
                                <b>Dia:</b> @Html.DisplayFor(modelItem => item.DataDeEntrega)<br />
                                <b>Hora:</b> @Html.DisplayFor(modelItem => item.HoraDeEntrega)

            </td>
            <td>
                                @Html.DisplayFor(modelItem => item.TotalPedido)

            </td>

                            @{
                                //verifica dia atual
                                // Suponha que a propriedade diaDaEntrega tenha o valor "Terça, 16/01/2024"
                                string diaDaEntrega = item.DataDeEntrega;
                                string[] partes = diaDaEntrega.Split(',');
                                DateTime horaAtual = DateTime.Now;
                                string horaEntregaString = item.HoraDeEntrega;
                                DateTime horaEntrega = DateTime.ParseExact(horaEntregaString, "HH:mm", null);
                                DateTime horaEntregaMais1Hora = horaEntrega.AddHours(1);
                                bool passouDaHoraDaEntrega = false;
                                if (horaAtual > horaEntregaMais1Hora)
                                {
                                    passouDaHoraDaEntrega = true;
                                }
                                if (partes.Length == 2)
                                {

                                    // Divida a string para obter o dia da semana e a data

                                    // Obtenha o dia da semana e a data
                                    string diaSemana = partes[0].Trim();
                                    string dataString = partes[1].Trim();

                                    // Converta a data de string para DateTime
                                    DateTime dataEntrega = DateTime.ParseExact(dataString, "dd/MM/yyyy", null);

                                    // Verifique se o dia da semana é igual ao dia atual ou ao dia seguinte
                                    bool entregarHoje = dataEntrega.Date == DateTime.Today.Date;
                                    bool entregarAmanha = dataEntrega.Date == DateTime.Today.AddDays(1).Date;
                                    bool passouDiaDaEntrega = dataEntrega.Date < DateTime.Today.Date;

                            <td style="
                                    @(item.EntregaPedido && item.PagamentoPedido ? "color:#28a745!important;" : "")
                                          @(item.PagamentoPedido && !item.EntregaPedido && passouDiaDaEntrega 
                                         || item.PagamentoPedido && !item.EntregaPedido &&  entregarHoje && passouDaHoraDaEntrega
                                         || item.PagamentoNaEntrega && !item.EntregaPedido && passouDiaDaEntrega
                                         || item.PagamentoNaEntrega && !item.EntregaPedido && entregarHoje && passouDaHoraDaEntrega
                                         || item.PagamentoParcial > 0 && item.PagamentoParcial != item.TotalPedido && !item.PagamentoPedido && !item.PagamentoNaEntrega && !item.EntregaPedido 
                                         // && entregarHoje && passouDaHoraDaEntrega


                                         // || item.PagamentoParcial > 0 && item.PagamentoNaEntrega && !item.EntregaPedido && passouDiaDaEntrega
                                         // || item.PagamentoParcial == item.TotalPedido && entregarHoje && passouDaHoraDaEntrega
                                         // || item.PagamentoParcial == item.TotalPedido && entregarHoje && passouDaHoraDaEntrega
                                         ? "color:#f00!important;" : "")
 
             @(item.PagamentoPedido && !item.EntregaPedido && !entregarHoje && !entregarAmanha && !passouDiaDaEntrega ||
            item.PagamentoNaEntrega && !item.EntregaPedido && !entregarHoje && !entregarAmanha && !passouDiaDaEntrega || 
          item.PagamentoParcial > 0 && !item.EntregaPedido && !entregarHoje && !entregarAmanha && !passouDiaDaEntrega ? "color:#007bff!important;" : "")
          
              @(item.PagamentoPedido && !item.EntregaPedido && entregarHoje && !passouDaHoraDaEntrega ||
                  item.PagamentoPedido && !item.EntregaPedido &&  entregarAmanha ||
                  item.PagamentoNaEntrega && !item.EntregaPedido && entregarHoje && !passouDaHoraDaEntrega || 
                  item.PagamentoNaEntrega && !item.EntregaPedido && entregarAmanha ||
                item.PagamentoParcial > 0 && !item.EntregaPedido && entregarAmanha ||
                item.PagamentoParcial > 0 && !item.EntregaPedido && entregarHoje && !passouDaHoraDaEntrega? "color:#ff8100!important;" : "")
                   
              

                                ">
                                @if (item.EntregaPedido)
                                {
                                            <div><b>Pedido Entregue</b></div>
 
                                }
                                        @if (!item.EntregaPedido && item.PagamentoPedido || !item.EntregaPedido && item.PagamentoNaEntrega || !item.EntregaPedido && item.PagamentoParcial > 0)

                                {
                                            if (passouDiaDaEntrega)
                                            {
                                                <div class="">
                                                    @if (item.PedidoPreparado)
                                                    {
                                                        if(item.SaiuPraEntrega){
                                                           <b>Em trânsito</b>
                                                        }
                                                        else
                                                        {
                                                            <b>Entregar Urgentemente</b>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <b>Preparar com Urgência</b>
                                                    }
                                                
                                                </div>
                                            }
                                            else{
                                                <div class="">
                                                    @if (item.PedidoPreparado)
                                                    {
                                                    <b>Aguardando Entrega</b>
                                                    }
                                                    else
                                                    {
                                                        <b>Não está pronto</b>
                                                    }
                                                </div>
                                              
                                            }
                                            @if (item.PagamentoNaEntrega && !item.PagamentoPedido || item.PagamentoParcial > 0 && !item.PagamentoPedido)
                                            {
                                                if (item.PagamentoParcial != item.TotalPedido) {
                                                <span>
                                                    <b>
                                                        Cobrar: R$@if (item.PagamentoParcial > 0)
                                                        {<span>@(item.TotalPedido - @item.PagamentoParcial)
                                                                </span>}
                                                        else
                                                        {<span>@item.TotalPedido</span>

                                                        }@if (item.PagamentoNaEntrega) { 
                                                            <span>no ato da entrega</span>}
                                                        else
                                                        {<span>antes da entrega</span>}
                                                    </b>
                                                    
                                                </span>
                                                }
                                            }
                                        }

                                @if (item.PagamentoPedido)
                                {
                                    <div>
                                        <span class="">Pagou</span>
                                    @if (item.PagamentoNaEntrega)
                                    {
                                        <span>Quando recebeu</span>
                                    }
                                    else
                                    {
                                        <span>Antes da enterga</span>

                                    }
                                            </div>
                                        }
                                        else
                                        {
                                            if (item.EntregaPedido)
                                            {
                                                if (item.PagamentoParcial != item.TotalPedido)
                                                {
                                                    <div style="color:#d800ff;font-weight:bold;">
                                                        Cliente deve R$@if (item.PagamentoParcial > 0)
                                                        {
                                                            @(item.TotalPedido - @item.PagamentoParcial)
                                                        }
                                                        else
                                                        {
                                                            @item.TotalPedido
                                                        }
                                                    </div>
                                                }else{
                                                    <div style="color:#17a2b8;font-weight:bold;">Faltou selecionar a opção pedido pago</div>
                                                }
                                               
                                            }
                                            else {
                                                if (!item.PagamentoNaEntrega && item.PagamentoParcial == 0)
                                                {
                                                     <div class="">Não confirmado</div>
                                                }
                                            }

                                }
                                        @if (!item.PagamentoPedido && item.PagamentoNaEntrega && item.EntregaPedido && item.PagamentoParcial != item.TotalPedido)
                                        {
                                           
                                                <div><b>Vacilo cliente:</b>recebeu e <br />não pagou na hora da entrega</div>

                                           
 
                                        }

                                        @if (!item.PagamentoPedido && !item.PagamentoNaEntrega && item.EntregaPedido && item.PagamentoParcial != item.TotalPedido)
                                        {

                                        <div><b>Vacilo nosso:</b>Enviamos<br /> sem ter recebido</div>
                                        }
                                         


                            </td>
                           

                               
                                    <td>
                             

                                @if (item.PagamentoPedido && !item.EntregaPedido && !entregarHoje && !entregarAmanha && !passouDiaDaEntrega)
                                {
                                    //Exibi icone para quando não chegou o dia da entrega e o pedido ta pago
                                 //            <svg xmlns="http://www.w3.org/2000/svg" fill="#007bff" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 0C352.3 0 256 32 256 32V160c48 0 76 16 104 32s56 32 104 32c56.4 0 176-16 176-96S512 0 416 0zM128 96c0 35.3 28.7 64 64 64h32V32H192c-35.3 0-64 28.7-64 64zM288 512c96 0 224-48 224-128s-119.6-96-176-96c-48 0-76 16-104 32s-56 32-104 32V480s96.3 32 160 32zM0 416c0 35.3 28.7 64 64 64H96V352H64c-35.3 0-64 28.7-64 64z" /></svg>
                                 // <span>Longe da data</span>
                                }
                                        @if (item.PagamentoPedido && !item.EntregaPedido && entregarHoje || 
                                            item.PagamentoPedido && !item.EntregaPedido && entregarAmanha ||
                                   item.PagamentoNaEntrega && !item.EntregaPedido && entregarHoje || 
                                   item.PagamentoNaEntrega && !item.EntregaPedido && entregarAmanha ||
                                   item.PagamentoParcial == item.TotalPedido && !item.EntregaPedido && entregarHoje ||
                                   item.PagamentoParcial == item.TotalPedido && !item.EntregaPedido && entregarAmanha)
                                {
                                            if (entregarHoje)
                                            {
                                                if (passouDaHoraDaEntrega)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#f00" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by   - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" /></svg>

                                                    <span>
                                                        <span>Passou da hora</span><br />
                                                     </span>
                                                }
                                                else
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#ff8100" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by   - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M190.5 68.8L225.3 128H224 152c-22.1 0-40-17.9-40-40s17.9-40 40-40h2.2c14.9 0 28.8 7.9 36.3 20.8zM64 88c0 14.4 3.5 28 9.6 40H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H480c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H438.4c6.1-12 9.6-25.6 9.6-40c0-48.6-39.4-88-88-88h-2.2c-31.9 0-61.5 16.9-77.7 44.4L256 85.5l-24.1-41C215.7 16.9 186.1 0 154.2 0H152C103.4 0 64 39.4 64 88zm336 0c0 22.1-17.9 40-40 40H288h-1.3l34.8-59.2C329.1 55.9 342.9 48 357.8 48H360c22.1 0 40 17.9 40 40zM32 288V464c0 26.5 21.5 48 48 48H224V288H32zM288 512H432c26.5 0 48-21.5 48-48V288H288V512z" /></svg>
                                                    <span>Entregar hoje</span>
                                                }

                                                    
                                               
                                        } else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="#ff8100" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" /></svg>
                                                <span>Entregar Amanhã</span>
                                            }
                                        }
                                        @if (!item.PagamentoPedido && item.EntregaPedido)
                                {
                                            if (item.PagamentoParcial != item.TotalPedido)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="#d800ff" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M320 96H192L144.6 24.9C137.5 14.2 145.1 0 157.9 0H354.1c12.8 0 20.4 14.2 13.3 24.9L320 96zM192 128H320c3.8 2.5 8.1 5.3 13 8.4C389.7 172.7 512 250.9 512 416c0 53-43 96-96 96H96c-53 0-96-43-96-96C0 250.9 122.3 172.7 179 136.4l0 0 0 0c4.8-3.1 9.2-5.9 13-8.4zm84 88c0-11-9-20-20-20s-20 9-20 20v14c-7.6 1.7-15.2 4.4-22.2 8.5c-13.9 8.3-25.9 22.8-25.8 43.9c.1 20.3 12 33.1 24.7 40.7c11 6.6 24.7 10.8 35.6 14l1.7 .5c12.6 3.8 21.8 6.8 28 10.7c5.1 3.2 5.8 5.4 5.9 8.2c.1 5-1.8 8-5.9 10.5c-5 3.1-12.9 5-21.4 4.7c-11.1-.4-21.5-3.9-35.1-8.5c-2.3-.8-4.7-1.6-7.2-2.4c-10.5-3.5-21.8 2.2-25.3 12.6s2.2 21.8 12.6 25.3c1.9 .6 4 1.3 6.1 2.1l0 0 0 0c8.3 2.9 17.9 6.2 28.2 8.4V424c0 11 9 20 20 20s20-9 20-20V410.2c8-1.7 16-4.5 23.2-9c14.3-8.9 25.1-24.1 24.8-45c-.3-20.3-11.7-33.4-24.6-41.6c-11.5-7.2-25.9-11.6-37.1-15l0 0-.7-.2c-12.8-3.9-21.9-6.7-28.3-10.5c-5.2-3.1-5.3-4.9-5.3-6.7c0-3.7 1.4-6.5 6.2-9.3c5.4-3.2 13.6-5.1 21.5-5c9.6 .1 20.2 2.2 31.2 5.2c10.7 2.8 21.6-3.5 24.5-14.2s-3.5-21.6-14.2-24.5c-6.5-1.7-13.7-3.4-21.1-4.7V216z" /></svg>
                                                <span>Cobrar</span>
                                            }
                                            else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="#17a2b8" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by- https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" /></svg>
                                                <span>Atenção</span>
                                            }

                                             
                                        }
                                        @if (item.PagamentoPedido && !item.EntregaPedido && passouDiaDaEntrega ||
                                   item.PagamentoNaEntrega && !item.EntregaPedido && passouDiaDaEntrega ||
                                   item.PagamentoParcial == item.TotalPedido && !item.EntregaPedido && passouDiaDaEntrega
                                   || item.PagamentoParcial > 0 && item.PagamentoParcial < item.TotalPedido && !item.PagamentoPedido && !item.PagamentoNaEntrega && !item.EntregaPedido && passouDiaDaEntrega)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="#f00" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z" /></svg>
                                            <span class="">Passou do dia</span>
                                        }
                                    </td>
                                    }
                                }
                            
                            <td>

                                <a asp-action="PedidoProdutos" asp-route-id="@item.PedidoId">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
                                </a>

                <a asp-action="Edit" asp-route-id="@item.PedidoId">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" /></svg>
                </a> 
                <a asp-action="Details" asp-route-id="@item.PedidoId" class="d-none">
Detalhes                </a> 
                <a asp-action="Delete" asp-route-id="@item.PedidoId">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
            </div>

            <div class="paginador_admin">
                <vc:pager paging-list="@Model"></vc:pager>
            </div>


                    </div>
    </div>
</div>













<script>
    document.addEventListener("DOMContentLoaded", function () {
  
         

        // Adiciona um evento para chamar a função quando a data for alterada
        flatpickr("#datePicker", {
            dateFormat: "l, d/m/Y",
            // minDate: "today",
            maxDate: new Date().fp_incr(60),
            locale: {
                firstDayOfWeek: 0,
                weekdays: {
                    shorthand: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                    longhand: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                },
                months: {
                    shorthand: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    longhand: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                },
            },
            showMonths: 1,
            enableTime: false,
            allowInput: true,
            disableMobile: "true",
            onClose: function (selectedDates, dateStr, instance) {
                // limparOpcoesSelect();
                if (selectedDates.length > 0) {
                    listaHoraDoDiaAtual(selectedDates[0]);
                } else {
                    adicionarOpcaoInicial();
                }

            }
        });
 
        // Adiciona a opção inicial desativada ao carregar a página
        adicionarOpcaoInicial();
    });
</script>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setSelectOption('.categoriaFilterSelect', "@Model.RouteValue["categoriaFilter"]");
            setSelectOption('.horaEntregaFilterSelect', "@Model.RouteValue["horaEntregaFilter"]");
            setSelectOption('.pedidoEntregueFilterSelect', "@Model.RouteValue["pedidoEntregueFilter"]");

        });

        function setSelectOption(selector, selectedValue) {
            var selectElement = document.querySelector(selector);

            if (selectElement) {
                for (var i = 0; i < selectElement.options.length; i++) {
                    if (selectElement.options[i].value === selectedValue) {
                        selectElement.options[i].selected = true;
                        break;
                    }
                }
            }
        }
    </script>
}
