@model ProdutoListViewModel

<div class="mt-50 container_produto">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="@Model.Produto.ImagemThumbnailUrl">
            </div>

            <div class="col-md-3">
                <h1 class="mt-30-xs"> @Model.Produto.Categoria.CategoriaNome<!--PRECISO INFORMAR AQUI O TIPO DE CATEGORIA--> <span>@Model.Produto.Nome</span></h1>
                <div class="mt-20 descri"><b>Descrição:</b>@Model.Produto.DescricaoCurta ... <a class="maisdetalhes" href="#descricao-completa">Continue lendo</a> </div>



            </div>
            <div class="col-md-6">

                <small>
                    <div class="de mt-50-xs"> De: R$&nbsp;@Model.Produto.Preco</div>
                    R$ <span id="preco_super_top">@Model.Produto.PrecoPromocional</span> <!-- problema é aqui -->
                    @if (@Model.Produto.Parcela > 0)
                    {
                    <div class="parcelado">
                        5x sem juros no cartão
                    </div>
                    }
                    @if (@Model.Produto.TaxaDeEntrega == 0)
                    {
                        <div class="parcela mb-90-xs">Entrega grátis em Feira de Santana</div>
                    }
                </small>

 

                    <div class="product-addon product-addon-ExtraToppings checkbox mt-50">
                        <h3 class="addon-name">Opções extra</h3>

                    @foreach (var opcoesExtra in Model.OpcoesExtra)
                    {
                        <p class="form-row form-row-wide addon-wrap-307-extra-toppings-0-5">
                            <label>
                                <input type="checkbox" class="addon addon-checkbox" name="sva" value="frete" data-price="00.00">
                                <img width="40" height="40" src=""  class="lafka-addon-image-icon" alt="" loading="lazy" >
                                @opcoesExtra.Nome 
                            </label>
                        </p>
                    }

                        <div class="clear"></div>
                    </div>
                

                <div id="product-addons-total" class="mt-20">
                    <dl class="product-addon-totals">
                        <dt>Adições extra:</dt>
                        <dd>
                            <strong>
                                <span id="adicoes_extra" class="amount">R$ 150,00</span>
                            </strong>
                        </dd>
                        <dt>Valor total:</dt>
                        <dd>
                            <strong>
                                <span id="valor_total" class="amount">R$ 350,00</span>
                            </strong>
                        </dd>
                    </dl>
                </div>







                <a class="pt-10 pb-10 pr-40 pl-40 mt-10 mr-auto-xs ml-auto-xs d-block-xs" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-produtoId="@Model.Produto.ProdutoId">Encomendar agora</a>




            </div>


        </div>
    </div>
</div>

<section class="descricao pt-50 pb-50 mt-50 ">

    <div id="descricao-completa" class="tit_descri mb-40 mb-10-xs">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-25">Descrição completa</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <p class="mt-20">@Model.Produto.DescricaoDetalhada</p>

            </div>
        </div>
    </div>
</section>
