@model ProdutoListViewModel
 
@{
    ViewData["Title"] = Model.CategoriaAtual == "Categorias" ? "Categorias de" : "Categoria";
}






<header class="bg_topo_interno mt-50">
    <div class="container ">
        <div class="row">
            <div class="col-12 ">


                @if (Model.CategoriaAtual == "Categorias")
                    {
                    <h1 class="tit2_pradois pb-10">Surpresas diferenciadas em Feira de Santana </h1>

                    }else{
                    <h1 class="tit2_pradois pb-10">
                        @Model.CategoriaAtual
                    </h1>
                    }
               
                
 

                <div class="linkbuild_top collapse multi-collapse" id="multiCollapseExample1">

                    <div>
                        @if (!string.IsNullOrEmpty(Model.PostSuperior))
                        {
                        @Html.Raw(Model.PostSuperior)
                        }
                        else
                        {
                             <p>Cestas de café da manhã, festa na caixa e flores em Feira de Santana: um presente especial para todas as ocasiões</p>
                            <p>As cestas de café da manhã, festa na caixa e flores são opções de presentes perfeitas para qualquer ocasião. Elas são uma forma de demonstrar carinho, atenção e cuidado com a pessoa presenteada.</p>

                            <h2>Como escolher surpresas</h2>

                            <p>Na hora de escolher uma surpresa, é importante considerar o gosto da pessoa presenteada. Se você não sabe o que ela gosta, pode optar por uma cesta ou festa na caixa personalizada da Pradois.</p>

                            <h2>Momento indicado para presentear</h2>

                            <p>As cestas de café da manhã, festa na caixa e flores são presentes que podem ser dados em qualquer ocasião. No entanto, existem algumas datas que são mais propícias para presentear, como:</p>
                            <ul>
                                <li>Dia das Mães</li>
                                <li>Dia dos Namorados</li>
                                <li>Aniversário</li>
                                <li>Dia dos Pais</li>
                                <li>Dia dos Professores</li>
                                <li>Natal</li>
                            </ul>
                            <p>Você também pode presentear alguém com uma cesta ou festa na caixa sem motivo especial, apenas para demonstrar seu carinho.</p>

                            <h2>Itens que podem vir na cesta</h2>

                            <p>As cestas de café da manhã, festa na caixa e flores da Pradois podem ser compostas por diversos itens. Aqui estão algumas sugestões:</p>
                            <ul>
                                <li>Frutas</li>
                                <li>Pães</li>
                                <li>Bolos</li>
                                <li>Sucos</li>
                                <li>Café</li>
                                <li>Leite</li>
                                <li>Chá</li>
                                <li>Biscoitos</li>
                                <li>Salgadinhos</li>
                                <li>Balões</li>
                                <li>Serpentinas</li>
                                <li>Confetes</li>
                                <li>Bolo</li>
                                <li>Doces</li>
                                <li>Salgados</li>
                                <li>Flores</li>
                            </ul>
                            <p>Você pode escolher os itens que mais combinam com a pessoa presenteada. Também pode personalizar a cesta ou festa na caixa com um cartão ou uma mensagem especial da Pradois.</p>

                            <h2>Tipos de flores</h2>

                            <p>As flores da Pradois são uma ótima opção de presente para qualquer ocasião. Elas podem ser enviadas para celebrar uma data especial, demonstrar carinho ou apoio.</p>

                            <h2>Feira de Santana: uma cidade para presentear</h2>

                            <p>Feira de Santana é uma cidade do interior da Bahia, com uma população de mais de 600 mil habitantes. É a segunda maior cidade do estado e a maior do interior nordestino.</p>
                            <p>Feira de Santana é uma cidade vibrante e cheia de vida. É um importante centro comercial, industrial, educacional e cultural. A cidade também é um importante polo turístico, com atrações como a Feira Central, o Parque da Cidade e o Museu Regional de Feira de Santana.</p>
                            <p>A Pradois é uma empresa que está presente em Feira de Santana há mais de 20 anos. A empresa é especializada em cestas de café da manhã, festa na caixa e flores.</p>
                            <p>A Pradois oferece uma variedade de produtos para atender às necessidades de todos os clientes. As cestas de café da manhã são compostas por itens frescos e saborosos, como frutas, pães, bolos, sucos e café. As festas na caixa são compostas por itens como balões, serpentinas, confetes, bolo, doces e salgados. As flores são escolhidas com cuidado e atenção, para que representem o carinho e atenção do presenteado.</p>
                            <p>A Pradois é uma ótima opção para quem está procurando um presente especial para alguém que mora em Feira de Santana. A empresa oferece uma variedade de produtos de alta qualidade, com preços competitivos.</p>

                            <h2>Vantagens de comprar cestas de café da manhã, festa na caixa e flores na Pradois</h2>

                            <ul>
                                <li>Você pode encontrar uma variedade de produtos para escolher na Pradois.</li>
                                <li>Os preços são competitivos.</li>
                                <li>A entrega é rápida e eficiente.</li>
                            </ul>

                            <p>Se você está procurando um presente especial para alguém que mora em Feira de Santana, não deixe de conferir as opções disponíveis na Pradois.</p>

                        }
                    </div>
                    <div class="float_button">
                        <div class=" collapse multi-collapse " id="multiCollapseExample3">

                            <button class="ver_menos" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2  multiCollapseExample3">
                                Ver menos
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
                            </button>
                        </div>


                        <div class=" collapse multi-collapse show" id="multiCollapseExample2">
                            <button data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2  multiCollapseExample3">
                                Ver mais
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                            </button>
                        </div>


                    </div>
                    </div>
              

            </div>
        </div>
    </div>


</header>

@if (Model.ExibeCategoria)
{
     <section class="banner_categ mt-50" style="background-image:url(../../img/img_topo_xs.png)"> 

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="categ_text">Um gesto sincero vale mais que mil palavras</h2>
            </div>
        </div>
    </div>
</section>
}

@if (!Model.ExibeCategoria)
{
    <section class="produtos categorias">
        <div class="container">
            <div class="row   mt-50 mb-20">
                <div class="col-12">
                </div>
                @foreach (var produto in Model.Produtos)
                {
                    <partial name="_ProdutosResumo" for="@produto"/>
                }
            </div>
        </div>
    </section>
}


@if (Model.ExibeCategoria)
{
@foreach (var categoria in Model.Categorias)
{

<section class="produtos categorias">
    <div class="container">
        <div class="row">
            <div class="col-12  mt-50 mb-20">
                        @{
                            // Obtém a string da propriedade e substitui espaços por hifens
                            string categoriaUrl = categoria.CategoriaNome.Replace(" ", "-");
                        }
                        <h2>@categoria.CategoriaNome

                            <a asp-controller="Produto" asp-action="List" asp-route-categoria="@categoriaUrl" asp-route-categoriaid="@categoria.CategoriaId">
                                    Ver tudo
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <!--! Font Awesome Pro 6.2.0 Copyright 2022 Fonticons, Inc. -->
                                        <path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </a>
                             </h2>
            </div>
            <div class="col-12">
                <div class=" swiper mySwiper">
                    <div class="swiper-wrapper">

                                @foreach (var produto in categoria.Produtos)
                                {
                        <div class="swiper-slide">
                            <div class=" cesta_super_top">
                                            <a asp-controller="Produto" asp-action="Details" asp-route-produtoId="@produto.ProdutoId" class="envolve_produtos mb-30-xs mb-70">
                                    <img class="img-fluid" src="@produto.ImagemThumbnailUrl">
                                                <h4>
                                                    @produto.Categoria.NomeCurto @produto.Nome</h4>
                                                <p> Possuii @produto.QuantidadeDeItem Itens </p>
                                    <div class="d-flex">
                                        <span>
                                                        <div id="preco_card_super_top">R$ @produto.PrecoPromocional</div>
                                            <small class="d-block parcelas">
                                                            <b id="parcelas_supertop">@produto.Parcela</b>
                                                <small>x R$</small>
                                                            <b id="valor_parcela_supertop">@String.Format("{0:N2}", produto.PrecoPromocional / produto.Parcela)</b>

                                            </small>
                                        </span>
                                                    @if (produto.TaxaDeEntrega == 0)
                                                    {
                                                        <div class=" ml-auto  mr-20">Frete Grátis</div>
                                                    }
                                     </div>

                                </a>
                            </div>
                        </div>
                        }


                    </div>

                </div>
            </div>
        </div>


    </div>
</section>



    }
}








<partial name="_Faq"/>










<section class="linkbuild_2 mt-100 mb-110">
    <div class="container">
        <div class="row">
            @if (!string.IsNullOrEmpty(Model.PostInferior))
            {
            <div class="col-12">
                  @Html.Raw(@Model.PostInferior)
            </div>


}
else
{
                <div class="col-12">

                <h2>Feira de Santana: uma cidade histórica e cheia de vida</h2>

                <p>Feira de Santana é uma cidade do interior da Bahia, com uma população de mais de 600 mil habitantes. É a segunda maior cidade do estado e a maior do interior nordestino.</p>

                <p>A história de Feira de Santana remonta ao século XVI, quando a região era habitada por indígenas Tupinambás. Em 1674, foi fundada a Fazenda Sant'Anna dos Olhos d'Água, que daria origem à cidade.</p>

                <p>No século XIX, Feira de Santana se tornou um importante centro comercial e de produção agrícola. A cidade também era um importante ponto de parada para as tropas que viajavam entre Salvador e o interior do país.</p>

                <p>No século XX, Feira de Santana continuou a se desenvolver, tornando-se um importante centro industrial, educacional e cultural. A cidade também é um importante polo turístico, com atrações como a Feira Central, o Parque da Cidade e o Museu Regional de Feira de Santana.</p>

                <p>Presentear com cestas de café da manhã e festa na caixa: uma forma de demonstrar carinho</p>

                    <h3>Presentear com cestas de café da manhã e festa na caixa: uma forma de demonstrar carinho</h3>

                <p>Presentear com cestas de café da manhã e festa na caixa é uma forma de demonstrar carinho e atenção a alguém especial. Esses presentes são perfeitos para ocasiões especiais, como o Dia das Mães, o Dia dos Namorados e outras datas comemorativas.</p>

                <p>As cestas de café da manhã são uma ótima opção para quem quer começar o dia com um toque especial. Elas geralmente são compostas por itens como frutas, pães, bolos, sucos e café. As cestas de café da manhã podem ser personalizadas de acordo com o gosto do presenteado.</p>

                <p>As festas na caixa são uma ótima opção para quem quer surpreender alguém com uma festa surpresa. Elas geralmente são compostas por itens como balões, serpentinas, confetes, bolo, doces e salgados. As festas na caixa podem ser entregues em casa ou no trabalho do presenteado.</p>

                    <h3>A importância de presentear com cestas de café da manhã e festa na caixa</h3>

                <p>Presentear com cestas de café da manhã e festa na caixa é uma forma de demonstrar carinho e atenção a alguém especial. Esses presentes são perfeitos para ocasiões especiais, como o Dia das Mães, o Dia dos Namorados e outras datas comemorativas.</p>

                <p>As cestas de café da manhã e as festas na caixa são uma forma de mostrar que você se importa com a pessoa presenteada. Eles são uma forma de dizer "eu te amo", "obrigado" ou "você é especial para mim".</p>

                <p>Ao presentear com cesta de café da manhã ou festa na caixa, você está proporcionando momentos de alegria e descontração para a pessoa presenteada. Esses presentes são uma forma de tornar o dia especial ainda mais especial.</p>

                <h3>Feira de Santana: a cidade perfeita para presentear</h3>

                <p>Feira de Santana é uma cidade cheia de vida e de opções para presentear. A cidade conta com diversas lojas especializadas em cestas de café da manhã e festa na caixa.</p>

                <p>Se você está procurando um presente especial para alguém que você ama, Feira de Santana é o lugar certo para encontrar. A cidade oferece diversas opções de cestas de café da manhã e festa na caixa, para todos os gostos e bolsos.</p>

                <p>Aqui estão algumas dicas para escolher a cesta de café da manhã ou festa na caixa perfeita:</p>
                <div>
                <ul>
                    <li>Considere o gosto da pessoa presenteada.</li>
                    <li>Pense na ocasião para a qual você está presenteando.</li>
                    <li>Defina o seu orçamento.</li>
                </ul>
                    </div>
                <p>Com um pouco de planejamento, você pode encontrar o presente perfeito para tornar o dia de alguém especial ainda mais especial.</p>
                </div>
            }

        </div>
    </div>
</section>



 

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3.5,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {


            0: {
                slidesPerView: 1.5,
                spaceBetween: 20,
                freeMode: true,

            },
            767: {
                slidesPerView: 2.5,
                spaceBetween: 20,
                freeMode: true,

            },
            992: {
                slidesPerView: 3.5,
                spaceBetween: 40,
                freeMode: true,

            },
            1200: {
                slidesPerView: 3.5,
                spaceBetween: 50,
                freeMode: true,

            },


        }
    });



</script>
