@model ProdutoListViewModel
 
@{
    ViewData["Title"] = "List";
}






<header class="bg_topo_interno mt-50">
    <div class="container ">
        <div class="row">
            <div class="col-12 ">
                <h1 class="tit2_pradois pb-10"> @Model.CategoriaAtual </h1>
                <p>@Html.Raw(ViewBag.PostSuperior)</p>
                @if (!string.IsNullOrEmpty(Model.PostSuperior))
                {

                <div class="linkbuild_top collapse multi-collapse" id="multiCollapseExample1">
                    <div>
                        @Html.Raw(Model.PostSuperior)
                    </div>
                    <div class="float_button">
                        <div class=" collapse multi-collapse " id="multiCollapseExample3">

                            <button class="ver_menos" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2  multiCollapseExample3">
                                Ver menos
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
                            </button>
                        </div>


                        <div class=" collapse multi-collapse show" id="multiCollapseExample2">
                            <button data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2  multiCollapseExample3">
                                Ver mais
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                            </button>
                        </div>


                    </div>
                </div>
                }

            </div>
        </div>
    </div>


</header>

@if (Model.ExibeCategoria)
{
     <section class="banner_categ mt-50" style="background-image:url(../../img/img_topo_xs.png)"> 

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="categ_text">Um gesto sincero vale mais que mil palavras</h1>
            </div>
        </div>
    </div>
</section>
}

@if (!Model.ExibeCategoria)
{
    <section class="produtos categorias">
        <div class="container">
            <div class="row   mt-50 mb-20">
                <div class="col-12">
                </div>
                @foreach (var produto in Model.Produtos)
                {
                    <partial name="_ProdutosResumo" for="@produto"/>
                }
            </div>
        </div>
    </section>
}


@if (Model.ExibeCategoria)
{
@foreach (var categoria in Model.Categorias)
{

<section class="produtos categorias">
    <div class="container">
        <div class="row">
            <div class="col-12  mt-50 mb-20">
                        @{
                            // Obtém a string da propriedade e substitui espaços por hifens
                            string categoriaUrl = categoria.CategoriaNome.Replace(" ", "-");
                        }
                        <h2>@categoria.CategoriaNome
                            <form action="/Produtos/@categoriaUrl" method="post">
                                <input type="hidden" name="categoria" value="@categoria.CategoriaNome" />
                                <input type="hidden" name="postSuperior" value="@categoria.PostSuperior" />
                                <input type="hidden" name="metaDescricao" value="@categoria.MetaDescricao" />
                                <input type="hidden" name="metaTitle" value="@categoria.MetaTitle" />
                                <input type="hidden" name="metaImage" value="@categoria.MetaImage" />
                                <input type="hidden" name="urlAmigavel" value="@categoria.UrlAmigavel" />
                                <input type="hidden" name="categoriaCompleta" value="@categoria" />
                                <input type="hidden" name="categoriaId " value="@categoria.CategoriaId " />
                                 
                                <button type="submit" >
                                    Ver tudo
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                        <!--! Font Awesome Pro 6.2.0 Copyright 2022 Fonticons, Inc. -->
                                        <path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                    </svg>
                                </button>
                            </form>
                            </h2>
            </div>
            <div class="col-12">
                <div class=" swiper mySwiper">
                    <div class="swiper-wrapper">

                                @foreach (var produto in categoria.Produtos)
                                {
                        <div class="swiper-slide">
                            <div class=" cesta_super_top">
                                            <a asp-controller="Produto" asp-action="Details" asp-route-produtoId="@produto.ProdutoId" class="envolve_produtos mb-30-xs mb-70">
                                    <img class="img-fluid" src="@produto.ImagemThumbnailUrl">
                                                <h4>@produto.Nome</h4>
                                                <p> Possuii @produto.QuantidadeDeItem Itens </p>
                                    <div class="d-flex">
                                        <span>
                                                        <div id="preco_card_super_top">R$ @produto.PrecoPromocional</div>
                                            <small class="d-block parcelas">
                                                            <b id="parcelas_supertop">@produto.Parcela</b>
                                                <small>x R$</small>
                                                            <b id="valor_parcela_supertop">@String.Format("{0:N2}", produto.PrecoPromocional / produto.Parcela)</b>

                                            </small>
                                        </span>
                                                    @if (produto.TaxaDeEntrega == 0)
                                                    {
                                                        <div class=" ml-auto  mr-20">Frete Grátis</div>
                                                    }
                                     </div>

                                </a>
                            </div>
                        </div>
                        }


                    </div>

                </div>
            </div>
        </div>


    </div>
</section>



    }
}















 

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3.5,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {


            0: {
                slidesPerView: 1.5,
                spaceBetween: 20,
                freeMode: true,

            },
            767: {
                slidesPerView: 2.5,
                spaceBetween: 20,
                freeMode: true,

            },
            992: {
                slidesPerView: 3.5,
                spaceBetween: 40,
                freeMode: true,

            },
            1200: {
                slidesPerView: 3.5,
                spaceBetween: 50,
                freeMode: true,

            },


        }
    });



</script>
